<% if service_admin? %>
  <%= partial :'organisations/nav', locals: { organisation: service.organisation, inline: true } %>
  <%= dropdown_nav [
        ['View service', "/services/#{service.id}"],
        ['Edit service', "/services/#{service.id}/edit"],
        ([%(Bookings <span class="badge badge-primary">#{service.bookings.count}</span>), "/services/#{service.id}/bookings"] if service.bookings.count.positive?),
        ['Preview confirmation email', "/services/#{service.id}/booking_email"]
      ].compact, button_text: %(#{service.name_with_provider} <i class="fa fa-caret-down"></i>), container_class: 'btn-group mb-1' %>
  <style>
    #service_stats thead th { border-top: none }
  </style>
  <%= partial :'services/service_stats', locals: { services: Service.and(:id.in => [service.id]) } %>
<% end %>
