<table id="service_stats" class="table table-striped table-hover table-sm" style="font-size: 0.9em">
  <thead class="bg-white">
    <tr>
      <th>Name</th>
      <th>Provider</th>
      <th>Bookings</th>
      <th>Booking revenue</th>
    </tr>
  </thead>
  <% services.each { |service| %>
  <tr data-pagelet-url="/services/<%= service.id %>/stats"><% if @service %><%= partial :'services/service_stats_row', locals: { service: @service } %><% end %></tr>
  <% } %>
</table>
