<%= partial :'services/nav', locals: { service: @service } %>
<style>
  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>
<div class="iframe-container">
  <iframe src="/services/<%= @service.id %>/booking_email_preview"></iframe>
</div>
