<span data-toggle="tooltip" title="Shift worth <%=pluralize sprintf('%g', shift.worth), 'point'%>" class="label label-yellow text-white d-inline-block mb-1"><i class="fa fa-coins"></i> <%=sprintf('%g', shift.worth)%></span>
