<span data-toggle="tooltip" title="Shift worth <%=pluralize shift.worth, 'point'%>" style="background: #F7B510" class="label text-white d-inline-block mb-1"><i class="fa fa-coins"></i> <%=shift.worth%></span>
