<span style="<%=style if defined?(style) %>" data-toggle="tooltip" title="Shift worth <%=pluralize sprintf('%g', shift.worth), 'point'%>" class="label label-yellow text-white d-inline-block mb-1"><i class="bi bi-hand-index"></i> <%=sprintf('%g', shift.worth)%></span>
