<h2><%= @rota.new_record? ? 'Create a rota' : 'Edit rota' %></h2>
<div class="container">
  <% form_for @rota ||= Rota.new, @rota.new_record? ? "/g/#{@gathering.slug}/rotas/new" : "/g/#{@gathering.slug}/rotas/#{@rota.id}/edit" do |f| %>
    <%= f.text_block :name %>
    <%= f.wysiwyg_block :description %>
    <%= f.submit_block destroy_url: ("/g/#{@gathering.slug}/rotas/#{@rota.id}/destroy" if admin? || @membership.admin?) %>
  <% end %>
</div>
