Copy of the Gemfile for this project:

```
ruby '3.2.3'
gem 'activesupport', '~> 7.0.8'
gem 'irb'
gem 'padrino'
gem 'puma'
gem 'rack', '~> 2.0'
gem 'rake'
gem 'sass'
gem 'sinatra'

# Admin
gem 'activate-admin', github: 'stephenreid321/activate-admin'
gem 'activate-tools', github: 'stephenreid321/activate-tools'
gem 'will_paginate', github: 'mislav/will_paginate'

# Data storage
gem 'activemodel'
gem 'delayed_job_mongoid'
gem 'dragonfly'
gem 'dragonfly-s3_data_store'
gem 'mongoid', '~> 7.0'
gem 'mongoid_paranoia'

# Authentication
gem 'bcrypt'
gem 'bech32'
gem 'omniauth'
gem 'omniauth-ethereum', github: 'q9f/omniauth-ethereum.rb'
gem 'omniauth-google-oauth2'
gem 'strong_password'

# Validation and testing
gem 'better_html'
gem 'email_address'
gem 'erb_lint', require: false
gem 'factory_bot'
gem 'rubocop'
group :test do
  gem 'capybara'
  gem 'cuprite', '~> 0.15'
  gem 'minitest-rg'
  gem 'rack_session_access'
end

# Interacting with other websites
gem 'airbrake'
gem 'airrecord'
gem 'faraday'
gem 'ferrum'
gem 'jwt'
gem 'mechanize'
gem 'ruby-openai'
gem 'yt'

# Payments
gem 'coinbase_commerce', github: 'quiknode-labs/coinbase-commerce-ruby'
gem 'eu_central_bank'
gem 'gocardless_pro'
gem 'money'
gem 'money-uphold-bank', github: 'stephenreid321/money-uphold-bank'
gem 'patreon'
gem 'stripe'

# Mail
gem 'incoming'
gem 'mail'
gem 'mailgun-ruby', require: 'mailgun'
gem 'premailer'

# Prawn (PDFs)
gem 'prawn', github: 'prawnpdf/prawn'
gem 'prawn-qrcode'
gem 'prawn-table'
gem 'rqrcode'

# Time
gem 'icalendar'
gem 'timezone'
gem 'tzinfo-data'

# Geography
gem 'countries'
gem 'geocoder'

# Formatting
gem 'addressable'
gem 'html_truncator'
gem 'redcarpet'
gem 'rinku'
gem 'sanitize'

# Rack
gem 'rack-cors'
gem 'rack-utf8_sanitizer'

# Everything else
gem 'bazaar'
gem 'chroma'
gem 'crawler_detect'
gem 'digest'
gem 'matrix'
gem 'maxmind-geoip2'
gem 'mini_magick'
```

From <head>:

```
<link href="/infinite_admin/plugins/icon/themify-icons/themify-icons.css" rel="stylesheet">
<link href="/infinite_admin/plugins/bootstrap/bootstrap4/css/bootstrap.css" rel="stylesheet">
<link href="/infinite_admin/plugins/animate/animate.min.css" rel="stylesheet">

<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<% {
    'jquery/3.7.1' => 'jquery.min.js',
    'jqueryui/1.13.2' => 'jquery-ui.min.js themes/base/jquery-ui.min.css',
    'jquery-timeago/1.4.3' => 'jquery.timeago.min.js',
    'moment.js/2.17.1' => 'moment.min.js locale/en-gb.js',
    'flatpickr/4.6.13' => 'flatpickr.min.js flatpickr.min.css',
    'datatables/1.10.16' => 'js/jquery.dataTables.min.js js/dataTables.bootstrap4.min.js css/dataTables.bootstrap4.min.css',       
    'tributejs/3.5.3' => 'tribute.min.js tribute.min.css',
    'select2/3.5.2' => 'select2.min.js select2.min.css',
    'sticky-table-headers/0.1.24' => 'js/jquery.stickytableheaders.min.js',
    'iframe-resizer/4.2.10' => 'iframeResizer.contentWindow.min.js',
    'slick-carousel/1.8.1' => 'slick.min.js slick.min.css slick-theme.min.css',
    'Chart.js/3.5.1' => 'chart.js',
    'web3/1.3.4' => 'web3.min.js',
    'highlight.js/11.6.0' => 'highlight.min.js styles/atom-one-dark.min.css',
    'intro.js/6.0.0' => 'intro.min.js introjs.min.css',
    'qrcodejs/1.0.0' => 'qrcode.min.js',
    'masonry/4.0.0' => 'masonry.pkgd.min.js',
    'TypeWatch/3.0.2' => 'jquery.typewatch.min.js',
    'bootstrap-icons/1.11.3' => 'font/bootstrap-icons.min.css',
    'typed.js/2.0.10' => 'typed.min.js'
    }.each { |k,v| %>
<% v.split(' ').each { |f| u = "https://cdnjs.cloudflare.com/ajax/libs/#{k}/#{f}" %>
<% case f.split('.').last.to_sym; when :js %>
  <script src="<%= u %>"></script>
<% when :css %>
  <link rel="stylesheet" href="<%= u %>">
<% end %>
<% } %>
<% } %>

<% [
    '//rawcdn.githack.com/scottdejonge/map-icons/dbf6fd7caedd60d11b5bfb5f267a114a6847d012/dist/css/map-icons.min.css',
    "/stylesheets/app.css?#{@cachebuster}"
  ].each { |f| %>
<link rel="stylesheet" href="<%= f %>">
<% } %>

<% [
    '//www.google.com/recaptcha/api.js',
    '//js.stripe.com/v3/',
    "//cdn.iframe.ly/embed.js?key=#{ENV['IFRAMELY_KEY']}",
    "//maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_PUBLIC_API_KEY']}&libraries=places",
    '//rawcdn.githack.com/bassjobsen/Bootstrap-3-Typeahead/067bd296184a4dda8c669923417124065b4ebced/bootstrap3-typeahead.min.js',
    '//rawcdn.githack.com/mahnunchik/markerclustererplus/736b0e3a7d916fbeb2ee5007494f17a5329b11a8/src/markerclusterer.js',
    '//rawcdn.githack.com/scottdejonge/map-icons/dbf6fd7caedd60d11b5bfb5f267a114a6847d012/dist/js/map-icons.js',
    '//rawcdn.githack.com/scottgonzalez/jquery-ui-extensions/fb7fd7df3d70e0288394f07bfe78262b548c30d6/src/autocomplete/jquery.ui.autocomplete.html.js',
    '//cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0',
    "/javascripts/ext/ckeditor.js?#{@cachebuster}",     
    '/javascripts/ext/autosize.js',     
    '/javascripts/ext/countUp.umd.js',     
    '/javascripts/ext/jquery-deparam.js',     
    '/javascripts/ext/linkify.min.js',     
    '/javascripts/ext/linkify-jquery.min.js',     
    "/javascripts/pagelets.js?#{@cachebuster}",
    "/javascripts/jquery.lookup.js?#{@cachebuster}",
    "/javascripts/app.js?#{@cachebuster}"
  ].each { |f| %>
<script src="<%= f %>"></script>
<% } %>


<script src="/infinite_admin/plugins/loader/pace/pace.min.js"></script>
<script src="/infinite_admin/plugins/cookie/js/js.cookie.js"></script>
<script src="/infinite_admin/plugins/tooltip/popper/popper.min.js"></script>
<script src="/infinite_admin/plugins/bootstrap/bootstrap4/js/bootstrap.js"></script>
<script src="/infinite_admin/plugins/scrollbar/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/infinite_admin/js/apps.js?<%= @cachebuster %>"></script>
```     