# Copy to .env for local development
RACK_ENV=development
PORT=3000
BASE_URI=http://127.0.0.1:3000
SESSION_SECRET=session_secret_must_be_at_least_64_chars_xxxxxxxxxxxxxxxxxxxxxxx
DOMAIN=example.com
DEFAULT_CURRENCY=EUR
DEFAULT_TIME_ZONE=Europe/Stockholm
STRIPE_PK=pk_test
STRIPE_SK=sk_test
