# Copy to .env.test for local development
RACK_ENV=test
PORT=8020
BASE_URI=http://127.0.0.1:8020
SESSION_SECRET=session_secret_must_be_at_least_64_chars_xxxxxxxxxxxxxxxxxxxxxxx
DOMAIN=dandelion.events
DEFAULT_CURRENCY=EUR
DEFAULT_TIME_ZONE=Europe/Stockholm
STRIPE_PK=pk_test
STRIPE_SK=sk_test
GOOGLE_MAPS_API_KEY=test
CI=true
SKIP_TOURS=true
