.DS_Store
log/**/*
tmp/**/*
app/assets/dragonfly/**/*
bin/*
vendor/bundle
vendor/gems/*
!vendor/gems/cache/
nbproject
.env
.env.test
dragonfly.log
capybara
node_modules
*.js.map
.on-save.json
*.code-workspace
dump
_map_old.erb

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.idea/
.aider.*
code.md
GeoLite2-City.mmdb
repomix-output.xml
iframe-test.html
.ruby-version
ckeditor/build
