.DS_Store
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
nbproject
.env
.env.test
dragonfly.log
app/assets/stylesheets/app.css
app/assets/stylesheets/app.css.map
app/assets/stylesheets/organisation.css
app/assets/stylesheets/organisation.css.map
app/assets/stylesheets/email.css
app/assets/stylesheets/email.css.map
app/assets/stylesheets/event_details.css
app/assets/stylesheets/event_details.css.map
app/assets/stylesheets/variables.css
app/assets/stylesheets/variables.css.map
capybara
node_modules
*.js.map
.on-save.json
*.code-workspace
dump
_map_old.erb

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.idea/
.aider.*
code.md
GeoLite2-City.mmdb
repomix-output.xml
iframe-test.html