{
  "mcpServers": {
    "sentry": {
      "type": "http",
      "url": "https://mcp.sentry.dev/mcp"
    },
    "Dandelion": {
      "type": "http",
      "url": "https://dandelion.events/mcp"
    },
    "render": {
      "type": "http",
      "url": "https://mcp.render.com/mcp",
      "headers": {
        "Authorization": "Bearer $RENDER_AUTH_TOKEN"
      }
    },
    "MongoDB": {
      "command": "npx",
      "args": [
        "-y",
        "mongodb-mcp-server",
        "--connectionString",
        "$MONGODB_CONNECTION_STRING",
        "--readOnly"
      ]
    },
    "stripe": {
      "type": "http",
      "url": "https://mcp.stripe.com"
    },
    "github": {
      "type": "http",
      "url": "https://api.githubcopilot.com/mcp/",
      "headers": {
        "Authorization": "Bearer $GITHUB_PAT"
      }
    },
    "cloudflare-api": {
      "type": "http",
      "url": "https://mcp.cloudflare.com/mcp"
    }
  }
}
