<a class="d-inline-block mb-3" href="/g/<%= @gathering.slug %>/timetables/<%= @tactivity.timetable_id %>"><i class="bi bi-arrow-left"></i> Return to timetable</a>
<%= partial :'timetables/tactivity_form' %>
