<% if event_feedback.public_answers %>
  <% qas = event_feedback.public_answers.map { |qa| qa[1] unless qa[1].blank? }.compact %>
  <div class="row mb-3">
    <div class="col-auto"><i class="bi bi-quote"></i></div>
    <div class="col">
      <% if !qas.empty? %>
        <big><%== Sanitize.fragment(qas.join('<br /><br />'), Sanitize::Config::DANDELION) %></big>
      <% end %>
    </div>
  </div>
<% end %>

<% if event_feedback.public_answers && !qas.empty? && event_feedback.response %>
  <div class="mb-3 <% if event_feedback.public_answers && qas%>mt-3<% end %>">
    <em><%=event_feedback.event.organisation.name%> replied</em>
    <p class="mt-1 mb-0"><big>&mdash; <%== Sanitize.fragment(Rinku.auto_link(event_feedback.response), Sanitize::Config::DANDELION) %></big></p>
  </div>
<% end %>
