<div class="row mb-3">
  <div class="col-auto"><i class="fa fa-quote-left"></i></div>
  <div class="col">
    <% if !(qas = event_feedback.public_answers.map { |qa| qa[1] unless qa[1].blank? }.compact).empty? %>
      <p class="lead mb-0"><%== Sanitize.fragment(qas.join('<br /><br />'), Sanitize::Config::DANDELION) %></p>
    <% end %>
  </div>
</div>

<% if event_feedback.response %>
  <div class="mt-3">
    <em><%=@organisation.name%> replied</em>
    <p class="lead">&mdash; <%== Sanitize.fragment(Rinku.auto_link(event_feedback.response), Sanitize::Config::DANDELION) %></p>
  </div>
<% end %>
