<a target="_blank" href="/event_feedbacks/feedback.txt">Download your event feedback as a Markdown file</a> (for pasting into your favourite AI)

<h2 class="mt-3">Areas for improvement <span data-toggle="tooltip" title="AI-generated"><i class="bi bi-stars"></i></span></h2>

<% if current_account.event_feedbacks_as_facilitator.and(:created_at.gte => 1.year.ago, :answers.ne => nil).exists? %>
  <div style="font-size: 0.9rem" data-with-placeholder data-pagelet-url="/event_feedbacks/report">
    <% 10.times do %>
      <div class="flicker mb-3" style="width: <%= rand(10..90) %>%; background: rgba(0,0,0,0.1)">&nbsp;</div>
    <% end %>
  </div>
<% else %>
  <div style="font-size: 0.9rem">
    <p>You haven't received any feedback in the past year.</p>
  </div>
<% end %>
