<% if (organisations = Organisation.and(:id.in =>
  current_account.organisationships.and(:hide_membership => false).pluck(:organisation_id) +
  current_account.organisationships.and(:admin => true).pluck(:organisation_id)
  )).exists? %>


<% organisations = organisations.sort_by { |organisation| created_at = organisation.events.live.public.order('created_at desc').first.try(:created_at); created_at ? created_at.to_i : 0 }.reverse.first(12) %>

<% slick_id = "slick-#{SecureRandom.uuid}" %>
<script>
  $(function () {
    $('#<%= slick_id %> .slick-responsive').slick({
      speed: 300,
      dots: true,
      prevArrow:"<button type='button' class='rounded-circle slick-prev pull-left'><i class='bi bi-chevron-compact-left'></i></button>",
      nextArrow:"<button type='button' class='rounded-circle slick-next pull-right'><i class='bi bi-chevron-compact-right'></i></button>",
      slidesToShow: 3,
      slidesToScroll: 3,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });

  })
</script>
<style>
  .slick-container .slick-item:nth-child(2) { display: block; }
</style>
<% if organisations.exists? %>
  <div class="slick-container mb-5" id="<%= slick_id %>">
    <% if defined? title %>
      <h2 class="text-center"><%= title %></h2>
    <% end %>
    <div class="slick-responsive row justify-content-center">
      <% organisations.each { |organisation| %>
      <div class="col-6 col-lg-4 slick-item">
        <%= partial :'organisations/block', locals: { organisation: organisation, most_recent: (organisation.events.live.public.future.exists?) } %>
      </div>
      <% } %>
    </div>
  </div>
<% end %>

<% end %>
