<a class="btn btn-primary mb-3" href="/o/<%= @organisation.slug %>/events">All events</a>
<% if organisation_assistant? %>
  <a class="btn btn-primary mb-3" href="/events/new?organisation_id=<%= @organisation.id %>">Create an event</a>
<% end %>
<%= partial :'events/blocks_placeholder' %>
