<% if @events.empty? %>
  <div class="mt-3">
    <em>No events</em>
  </div>
<% else %>
  <% unless params[:no_listings] %>
    <% if !params[:minimal] || params[:past] %>
      <% @events = @events.paginate(page: params[:page], per_page: (params[:per_page] || 20)) %>
    <% end %>
    <%= partial :'events/blocks', locals: { events: @events } %>
    <% if !params[:minimal] || params[:past] %>
      <div class="mt-3">
        <%= will_paginate @events, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
      </div>
    <% end %>
  <% end %>
<% end %>
