<a class="btn btn-primary mb-3" href="/o/<%= @organisation.slug %>/events">All events</a>
<% if organisation_assistant? || @organisation.allow_public_event_submissions %>
  <a class="btn btn-primary mb-3" href="/events/new?organisation_id=<%= @organisation.id %>">
    <% if organisation_assistant? %>
      Create an event
    <% else %>
      Submit an event for review
    <% end %>
  </a>
<% end %>
<%= partial :'events/blocks_placeholder' %>
