<% if @events.count == 0 %>
  <div class="mt-3">
    <em>No events</em>
  </div>
<% else %>
  <% unless params[:no_listings] %>
    <% @events = @events.paginate(page: params[:page], per_page: (params[:per_page] || 20)) %>
    <%= partial :'events/blocks', locals: { events: @events } %>
    <div class="mt-3">
      <%= will_paginate @events, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
    </div>
  <% end %>
<% end %>
