<% if organisation.persisted? && organisation_admin?(organisation) %>
  <% unless defined?(inline) %>
    <%== '<div class="mb-3">' %>
  <% end %>
  <%= dropdown_nav [
        ['<i class="fa fa-flag"></i> View organisation', "/o/#{organisation.slug}"],
        ['<i class="fa fa-cogs"></i>  Settings', "/o/#{organisation.slug}/edit"],
        [%(<i class="fa fa-users"></i> Followers <span class="badge badge-primary">#{organisation.organisationships.count}</span>), "/o/#{organisation.slug}/followers"],
        [],
        ['<i class="fa fa-envelope"></i> Mailer', "/o/#{organisation.slug}/pmails"],
        (['A/B tests', "/o/#{organisation.slug}/pmail_tests"] if organisation.mailgun_api_key),
        [],
        ['<i class="fa fa-calendar-o fa-fw"></i>  Events', "/o/#{organisation.slug}/events"],
        ['<i class="fa fa-chart-bar fa-fw"></i> Event stats', "/o/#{organisation.slug}/events/stats"],
        ['<i class="fa fa-plus-circle fa-fw"></i>  Create an event', "/events/new?organisation_id=#{organisation.id}"],
        ['<i class="fa fa-shopping-cart fa-fw"></i> Orders', "/o/#{organisation.slug}/orders"],
        ['<i class="fa fa-terminal fa-fw"></i> Discount codes', "/o/#{organisation.slug}/discount_codes"],
        ['<i class="fa fa-comment-o fa-fw"></i> Feedback', "/o/#{organisation.slug}/feedback"],
        ([] if Padrino.env == :development || organisation.verified?),
        (['<i class="fa fa-handshake-o"></i> Services', "/o/#{organisation.slug}/services"] if Padrino.env == :development || organisation.verified?),
        (['Service stats', "/o/#{organisation.slug}/services/stats"] if Padrino.env == :development || organisation.verified?),
        (['Bookings', "/o/#{organisation.slug}/bookings"] if Padrino.env == :development || organisation.verified?),
        [],
        ['Activities', "/o/#{organisation.slug}/activities"],
        ['Local groups', "/o/#{organisation.slug}/local_groups"],
        ['Tiers', "/o/#{organisation.slug}/tiers"],
        ['Welcome emails', "/o/#{organisation.slug}/emails"],
        ['Bans', "/o/#{organisation.slug}/banned_emails"],
        ['Audience stats', "/o/#{organisation.slug}/stats"],
        ['Contribute', "/o/#{organisation.slug}/contribute"]
      ].compact, button_text: %(#{organisation.name} <i class="fa fa-caret-down"></i>), container_class: 'btn-group mb-1' %>
  <% unless defined?(inline) %>
    <%== '</div>' %>
  <% end %>
<% end %>
