<% if organisation.persisted? && organisation_admin?(organisation) %>
  <% unless defined?(inline) %>
    <%== '<div class="mb-3">' %>
  <% end %>
  <%= dropdown_nav [
        ['<i class="bi bi-flag-fill"></i> View organisation', "/o/#{organisation.slug}"],
        ['<i class="bi bi-gear-fill"></i>  Settings', "/o/#{organisation.slug}/edit"],
        [%(<i class="bi bi-people-fill"></i> Followers <span class="badge badge-primary">#{organisation.organisationships.count}</span>), "/o/#{organisation.slug}/followers"],
        [],
        ['<i class="bi bi-calendar-event"></i>  Events', "/o/#{organisation.slug}/events"],
        ['<i class="bi bi-bar-chart-line-fill"></i> Event stats', "/o/#{organisation.slug}/events/stats"],
        ['<i class="bi bi-plus-square-fill"></i>  Create an event', "/events/new?organisation_id=#{organisation.id}"],
        ['<i class="bi bi-cart-fill"></i> Orders', "/o/#{organisation.slug}/orders"],
        ['<i class="bi bi-terminal"></i> Discount codes', "/o/#{organisation.slug}/discount_codes"],
        ['<i class="bi bi-chat-left-quote"></i> Feedback', "/o/#{organisation.slug}/feedback"],
        ([] if organisation.mailgun_api_key),
        ['<i class="bi bi-envelope-fill"></i> Mailer', "/o/#{organisation.slug}/pmails"],
        (['<i class="bi bi-clipboard-data"></i> A/B tests', "/o/#{organisation.slug}/pmail_tests"] if organisation.mailgun_api_key),
        [],        
        ['Activities', "/o/#{organisation.slug}/activities"],
        ['Local groups', "/o/#{organisation.slug}/local_groups"],
        ['Carousels', "/o/#{organisation.slug}/carousels"],
        ['Tiers', "/o/#{organisation.slug}/tiers"],
        ['Welcome emails', "/o/#{organisation.slug}/emails"],
        ['Bans', "/o/#{organisation.slug}/banned_emails"],
        ['Audience stats', "/o/#{organisation.slug}/stats"],
        ['Contribute', "/o/#{organisation.slug}/contribute"],
        [],
        ['Delete organisation', "/o/#{organisation.slug}/delete"]
      ].compact, button_text: %(#{organisation.name} <i class="bi bi-caret-down-fill"></i>), container_class: 'btn-group mb-1' %>
  <% unless defined?(inline) %>
    <%== '</div>' %>
  <% end %>
<% end %>
