<% pmails = @organisation.news.paginate(page: params[:pmails_page], per_page: 5) %>
<%= partial :'pmails/blocks', locals: { pmails: pmails } %>
<div class="mt-3">
  <%= will_paginate pmails, param_name: 'pmails_page', page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>
