<h2 class="mt-5">Services</h2>

<a class="btn btn-primary mb-3" href="/o/<%= @organisation.slug %>/services">All services</a>
<% if organisation_assistant? %>
  <a class="btn btn-primary mb-3" href="/services/new?organisation_id=<%= @organisation.id %>">Create a service</a>
<% end %>
<% services = @services.paginate(page: params[:services_page], per_page: 10) %>
<%= partial :'services/blocks', locals: { services: services } %>
<div class="mt-3">
  <%= will_paginate services, param_name: 'services_page', inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>
