<%= partial :'organisations/nav', locals: { organisation: @organisation } %>
<h2>Local groups</h2>
<div data-with-placeholder data-pagelet-url="/o/<%= @organisation.slug %>/local_groups">
  <%= partial :placeholder %>
</div>
