<% if !current_account || current_account.organisationships.count == 0 %>
  <h1>Organisations</h1>
  <p><%== pagination_details @organisations, model: 'Organisation' %></p>
<% end %>
<% if current_account %>
  <a class="btn btn-primary mt-1 mt-sm-0 mb-3" href="/o/new"><i class="fa fa-plus-circle"></i> Create an organisation</a>
<% end %>
<% if current_account && current_account.organisationships.count > 0 %>
  <h2>Your organisations</h2>
  <%= partial :'organisations/blocks', locals: { organisations: current_account.organisations_following } %>
<% end %>
<% if current_account && current_account.organisationships.count > 0 %>
  <h2>All organisations</h2>
<% end %>
<%= partial :'organisations/blocks', locals: { organisations: @organisations } %>
<%= will_paginate @organisations, param_name: 'organisations_page', inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
