<%= partial :'organisations/nav', locals: { organisation: @organisation } %>

<%= partial :stats, locals: { memberships: @organisation.organisationships, accounts: @organisation.members } %>

<h2>Locations</h2>
<%= partial :'maps/map', locals: { url: "/map?organisation_id=#{@organisation.id}&admin=1" } %>
