@import 'widget/_general';
@import 'widget/_project';
@import 'widget/_card';
@import 'widget/_list';
@import 'widget/_rating_star';
@import 'widget/_price';
@import 'widget/_user_list';
@import 'widget/_chat';
@import 'widget/_reminder';
@import 'widget/_image_list';
@import 'widget/_media';
@import 'widget/_stats';
@import 'widget/_chart';
@import 'widget/_divider';
@import 'widget/_theme_panel';