<p class="lead">
<% DocPage.order('priority desc').each { |doc_page| %>
  <a <% if @doc_page && @doc_page == doc_page %> class="font-weight-bold" <% end %> href="/docs/<%=doc_page.slug%>"><%=doc_page.name %></a><br />
<% } %>
</p>
