<div class="nav-wrapper mb-3">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if request.path == '/facilitators' %>" href="/facilitators">Facilitators</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link <%= 'active' if request.path == '/facilitators/map' %>" href="/facilitators/map">Map</a></li>
  </ul>
</div>