<%= partial :'facilitators/search_form' %>

<% if params[:display] == 'map' %>
  <%= partial :'maps/map', locals: { url: "/facilitators", bounding_box: @bounding_box&.flatten, fill_screen: true } %>
<% else %>
  <ul class="search-result-list">
    <% @accounts.each { |account| %>
    <li>
      <%= partial 'accounts/search_result', locals: { account: account, facilitator_info: true } %>
    </li>
    <% } %>
  </ul>

  <div class="mt-3">
    <%= will_paginate @accounts, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>
<% end %>