<%= partial :'facilitators/search_form' %>

<% if params[:display] == 'map' %>
  <%= partial :'maps/map', locals: { url: "/facilitators", fill_screen: true } %>
<% else %>

  <ul class="search-result-list">
    <% @account_ids_freq.each { |id, freq|; account = @accounts.find { |a| a.id.to_s == id }; next unless account; %>
    <li>
      <%= partial 'accounts/search_result', locals: { account: account, facilitator_info: true } %>
    </li>
    <% } %>
  </ul>

  <div class="mt-3">
    <%= will_paginate @account_ids_freq, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
  </div>

<% end %>
