<div class="block">
  <h4 class="block-title">
    <a class="text-dark" href="<%= "/o/#{local_group.organisation.slug}/lg/#{local_group.slug}" %>" onclick="event.stopPropagation();"><%= local_group.name %></a>
    <small>
      <%= local_group.organisation.name %>
    </small>
  </h4>
</div>
