<%= partial :'local_groups/nav', locals: { local_group: @local_group } %>

<%= partial :stats, locals: { memberships: @local_group.local_groupships, accounts: @local_group.members } %>

<h2>Locations</h2>
<%= partial :'maps/map', locals: { url: "/map?local_group_id=#{@local_group.id}&admin=1", dynamic: true, trigger_bounds_changed: true } %>
