<div style="margin: 10px 0">
  <% if @gathering.member_limit %>
    <p class="lead" style="margin: 0">
      <%= pluralize(@gathering.member_limit - @gathering.memberships.count, 'place') %> remaining
    </p>
  <% end %>
  <% if @gathering.fixed_threshold or @gathering.democratic_threshold %>
    <% if @gathering.threshold %>
      <p class="lead" style="margin: 0">
        Automatically accepting applications with <%= @gathering.threshold %> <%= @gathering.vouchers %>
      </p>
    <% end %>
    <% if @gathering.democratic_threshold %>
      What do you think the magic number should be?
      <% form_tag "/g/#{@gathering.slug}/threshold", style: 'display: inline' do %>
        <%= number_field_tag :desired_threshold, min: 0, class: 'form-control', value: @membership.desired_threshold, style: 'display: inline-block; width: 4em', onchange: '$(this.form).submit()' %>
      <% end %>
    <% end %>
  <% end %>
</div>
