<h2>
  <a href="/u/<%= @mapplication.account.username %>"><%= @mapplication.account.name %></a>'s application
</h2>
<%= partial :'mapplications/mapplication', locals: { mapplication: @mapplication } %>
