<p class="lead">
  Dandelion Gatherings are highly co-created gatherings
  typically lasting between 2 days – 2 weeks, for 20 – 200 people.
</p>
<p>
  This feature was originally developed to support camps at European Burning Man events Nowhere and the Borderland,
  and has since been used for several standalone microburns, along with online-only unconferences.
</p>
