<% if membership.answers %>
  <div class="mb-5">
    <% membership.answers.each { |q,a| if q && a %>
    <p style="font-size: 16px;">
      <strong>
        <%== Sanitize.fragment(Rinku.auto_link(q), Sanitize::Config::DANDELION) %>
      </strong>
    </p>
    <p style="font-size: 16px;">
      <%== Sanitize.fragment(Rinku.auto_link(a.gsub("\n", '<br />')), Sanitize::Config::DANDELION) %>
    </p>
  <% end } if membership.answers %>
</div>
<% end %>
