<script>
  $(function () {
    $('#gathering-nav-show').click(function () {
      $('#gathering-nav > ul').slideDown('fast');
      $('#gathering-nav-hide').show()
      $(this).hide()
    })
    $('#gathering-nav-hide').click(function () {
      $('#gathering-nav > ul').slideUp('fast');
      $('#gathering-nav-show').show()
      $(this).hide()
    })
  })
</script>
<p class="mb-1" style="font-size: 1rem"><%= @gathering.name %></p>
<style>
  #gathering-nav .label-danger { background: rgba(255,60,47,1) }
</style>
<div id="gathering-nav" class="mb-3 bg-dark p-1 rounded">
  <a class="text-white bg-dark p-1 rounded float-right" style="display: none" href="javascript:;" id="gathering-nav-show"><i class="fa fa-navicon"></i></a>
  <a class="text-white bg-dark p-1 rounded float-right" style="display: inline-block" href="javascript:;" id="gathering-nav-hide"><i class="fa fa-times"></i></a>
  <%= ul_nav [
        ['Home', "/g/#{gathering.slug}"],
        (['Settings', "/g/#{gathering.slug}/edit"] if membership.admin),
        [%(Members <span class="label label-inverse">#{gathering.member_limit ? %(#{gathering.memberships.count}/#{gathering.member_limit}) : gathering.memberships.count}</span>), "/g/#{gathering.slug}/members"],
        ([%(Applications #{%(<span class="label label-inverse">#{gathering.mapplications.pending.count}</span>) if gathering.mapplications.pending.count.positive?}), "/g/#{gathering.slug}/applications"] if (gathering.privacy == 'closed') || gathering.mapplications.and(:status.ne => 'accepted').count.positive?),
        ([
          %(
            #{@gathering.choose_and_pay_label || 'Choose & Pay'}
          <span class="contribution-label label label-inverse
          #{'label-danger' if @membership.requested_contribution and @membership.requested_contribution > 0 and (!@membership.paid or (@membership.paid < @membership.requested_contribution))}
          ">#{m (@membership.paid or 0), @gathering.currency}/#{m @membership.requested_contribution, @gathering.currency}</span>
          ), "/g/#{gathering.slug}/options"] if gathering.enable_contributions),
        (if gathering.enable_teams
           ['Teams',
            (
              [['Overview', "/g/#{gathering.slug}/teams"], ['Create a team', "/g/#{gathering.slug}/teams/new"]] +
              gathering.teams(true).order('name asc').map do |team|
                [%(
              #&nbsp;#{team.name}
              ), "/g/#{gathering.slug}/teams/#{team.id}"]
              end
            )]
         end),
        (if gathering.enable_timetables
           ['Timetables',
            (
              gathering.timetables(true).map { |timetable| [timetable.name, "/g/#{gathering.slug}/timetables/#{timetable.id}"] } + (membership.admin? ? [['Create a timetable', "/g/#{gathering.slug}/timetables/new"]] : [])
            )]
         end),
        (if gathering.enable_rotas
           ['Shifts',
            (
              [['Overview', "/g/#{gathering.slug}/rotas"]] + gathering.rotas(true).map { |rota| [rota.name, "/g/#{gathering.slug}/rotas/#{rota.id}"] } + (membership.admin? ? [['Create a rota', "/g/#{gathering.slug}/rotas/new"]] : [])
            )]
         end),
        (['Inventory', "/g/#{gathering.slug}/inventory"] if gathering.enable_inventory),
        (['Budget', "/g/#{gathering.slug}/budget"] if gathering.enable_budget)
      ].compact,
             ul_class: 'nav nav-pills',
             li_class: 'nav-item',
             li_active_class: nil,
             a_class: 'nav-link text-white',
             a_active_class: 'active',
             ul_id: nil,
             subnav_li_class: 'nav-item dropdown',
             subnav_data_toggle: 'dropdown',
             subnav_a_class: 'nav-link dropdown-toggle text-white',
             subnav_caret: '<b class="caret caret-right pull-right ml-1"></b>',
             subnav_ul_class: 'dropdown-menu',
             subnav_li2_class: '',
             subnav_a2_class: 'dropdown-item',
             generate_subnav_href_and_ul: false %>
  <span class="clearfix"></span>
</div>
