<% if membership.unsubscribed %>
  <a href="/g/<%= membership.gathering.slug %>/set_subscribe" class="pagelet-trigger btn btn-outline-primary mb-1">Email notifications off</a>
<% else %>
  <a href="/g/<%= membership.gathering.slug %>/unsubscribe" class="pagelet-trigger btn btn-primary mb-1">Email notifications on <i class="fa fa-envelope"></i></a>
<% end %>
