<%= partial :'gatherings/nav', locals: { gathering: @gathering, membership: @membership } %>

<p class="lead">
  Copy the timetables, rotas and options from one gathering to another.
</p>
<p>
  Select the gathering you would like to copy to:
</p>
<% form_tag '', class: 'form-inline' do %>
  <%= select_tag :gathering_id, options: @destination_memberships.map { |membership| [membership.gathering.name, membership.gathering.id] }, class: 'form-control mr-1' %>
  <%= submit_tag 'Copy', class: 'btn btn-primary' %>
<% end %>
