<% if events.exists? %>
  <div class="mb-3">
    <div class="row" id="events">
      <% events.each { |event| next if event.locked? && !event_admin?(event) %>
      <div class="col-12 <%= block_class if defined?(block_class) %>" id="<%= event.id %>">
        <div class="mb-4">
          <% if admin? %>
            <%= partial :'events/block', locals: { event: event } %>
          <% else %>
            <%= cp(:'events/block', locals: { event: event }, event: event, key: "/events/#{event.id}?organisation_id=#{@organisation.try(:id)}&timezone=#{event.start_time.strftime('%Z')}&current_account=#{current_account ? 1 : 0}&event_admin=#{event_admin?(event) ? 1 : 0}") %>
          <% end %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
<% end %>
