<% carousel_id = "carousel-#{SecureRandom.uuid}" %>
<script>
  $(function () {
    $('#<%= carousel_id %> .slick-responsive').slick({
      speed: 300,
      dots: true,
      prevArrow:"<button type='button' class='rounded-circle slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
      nextArrow:"<button type='button' class='rounded-circle slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ]
    });

  })
</script>
<style>
  .slick-container .slick-item:nth-child(1) { display: block; }
  .slick-container .slick-item:nth-child(2) { display: block; }
  @media(min-width: 992px) {
    .slick-container .slick-item:nth-child(3) { display: block; }
    .slick-container .slick-item:nth-child(4) { display: block; }
  }
</style>
<% if organisations.count > 0 %>
  <div class="slick-container mb-5" id="<%= carousel_id %>">
    <% if defined? title %>
      <h2 class="text-center"><%= title %></h2>
    <% end %>
    <div class="slick-responsive row justify-content-center">
      <% organisations.each { |organisation| %>
      <div class="col-6 col-sm-4 col-lg-3 slick-item">
        <%= partial :'organisations/block', locals: { organisation: organisation } %>
      </div>
      <% } %>
    </div>
  </div>
<% end %>
