<% form_tag "/events/#{@event.id}/check_in/#{ticket.id}" do %>
  <div class="switcher">
    <%= check_box_tag :checked_in, id: "check-in-#{ticket.id}", class: 'form-check-input', checked: ticket.checked_in, onclick: '$(this.form).submit()' %>
    <label for="<%= "check-in-#{ticket.id}" %>"></label>
  </div>
<% end %>
