<% ef = defined?(event_facilitators) ? event_facilitators : event.event_facilitations.select { |event_facilitation| event_facilitation.account.lastname } %>
<% text_class = defined?(event_facilitators) ? 'text-dark' : '' %>
<% if ef.count > 0 %>
  <%== ef.map { |event_facilitation|
          %(<a target="_parent" class="#{text_class}" href="/u/#{event_facilitation.account.username}">#{Sanitize.fragment(event_facilitation.account.name)}</a>)
        }.to_sentence(last_word_connector: ' and ') %>
  <% if !@organisation && event.organisation %>
    in collaboration with
  <% end %>
<% end %>
<% if !@organisation && event.organisation %>
  <% organisations = []; organisations << %(<a target="_parent" class="#{text_class}" href="/o/#{Sanitize.fragment(event.organisation.slug)}">#{Sanitize.fragment(event.organisation.name)}</a>) %>
  <% event.cohosts.each { |organisation| organisations << %(<a target="_parent" class="#{text_class}" href="/o/#{Sanitize.fragment(organisation.slug)}">#{Sanitize.fragment(organisation.name)}</a>) } %>
  <%== organisations.to_sentence(last_word_connector: ' and ') %>
<% end %>
