<% if @event.activity && @event.activity.event_feedbacks.unscoped.count > 0 %>
  <h2 class="mt-5">Feedback on <%= @event.activity.name %> events</h2>
  <div class="mt-3" data-pagelet-url="/activities/<%= @event.activity_id %>/show_feedback"></div>
<% elsif @event.organisation.activities.empty? && @event.organisation.event_feedbacks.unscoped.count > 0 %>
  <h2 class="mt-5">Feedback on <%= @event.organisation.name %> events</h2>
  <div class="mt-3" data-pagelet-url="/o/<%= @event.organisation.slug %>/show_feedback"></div>
<% end %>
