<div id="events-grid" class="mt-5">
  <% if @carousels %>
    <h2 class="text-center">All events</h2>
  <% end %>
  <div class="row">
    <% previous_event = nil; event_count = 0; @events.each { |event|    
    next unless event.has_image?
    next if event.locked? && !event_admin?(event)
    next if previous_event && previous_event.name == event.name && !previous_event.sold_out?
    event_count += 1
    %>
    <div class="col-12 col-sm-6 col-lg-4 event-block" style="margin-bottom: 0.75rem;<%= ' display: none;' if params[:show_more] && event_count > 6 %>">
      <%= partial :'events/block_carousel', locals: {event: event} %>
    </div>
    <% previous_event = event } %>
  </div>
  <% if event_count == 0 %>
    <div class="text-center">
      <p><em>No events</em></p>
    </div>
  <% elsif params[:show_more] && event_count > 6 %>
    <div class="text-center mt-3">
      <a onclick="$('.event-block').show(); $(this).hide();" href="javascript:;">Show more</a>
    </div>
  <% end %>
</div>