<div id="events-grid" class="mt-5">
  <% if @carousels %>
    <h2 class="text-center">All events</h2>
  <% end %>
  <div class="row">
    <% @events.each { |event|    
    next unless event.has_image?
    next if event.locked? && !event_admin?(event)
    next if previous_name == event.name
    %>
    <div class="col-12 col-sm-6 col-lg-4" style="margin-bottom: 0.75rem">
      <%= partial :'events/block_carousel', locals: {crop: (crop if defined?(crop)), event: event} %>
    </div>
    <% previous = event.name } %>
  </div>
</div>