<% i = 0; current_account.recommended_events.each { |event_id,people| event = Event.find(event_id);
  next unless event
  next if event.locked? && !event_admin?(event)
  next if event.event_facilitations.find_by(account: current_account)
  next unless event.image_uid
%>
<div class="mb-1">
  <%= partial :'events/block_carousel', locals: {event: event} %>
</div>
<% i += 1; if i == 3; break; end  }  %>
