<% recommended = current_account.recommended_events; events_by_id = Event.and(:id.in => recommended.map(&:first)).includes(:event_facilitations).index_by { |e| e.id.to_s } %>
<% i = 0; recommended.each { |event_id,people| event = events_by_id[event_id.to_s];
  next unless event
  next if event.locked? && !event_admin?(event)
  next if event.sold_out?
  next if event.created_at < 1.year.ago
  next if event.event_facilitations.find_by(account: current_account)
  next unless event.image_uid
%>
<div class="mb-1">
  <%= partial :'events/block_carousel', locals: {event: event} %>
</div>
<% i += 1; if i == 3; break; end  }  %>
