<% event.event_tags.each { |event_tag| %>
<a href="/o/<%= event.organisation.slug %>/events?event_tag_id=<%= event_tag.id %>" class="text-white label label-primary d-inline-block mb-1"><%= event_tag.name %></a>
<% } %>
