<% if ticket_type = ticket.ticket_type %>
  <span>
    <a href="javascript:;" onclick="$(this).parent().hide().next().show().find('input').focus()">
      <%= ticket_type.name %>
    </a>
    <% if ticket_type.ticket_group %>
      <span class="label label-outline-primary"><%=ticket_type.ticket_group.name%></span>
    <% end %>
  </span>
  <% form_tag "/tickets/#{ticket.id}/ticket_type", style: 'display:none' do %>
    <%= select_tag :ticket_type_id, class: 'form-control', value: ticket.ticket_type_id, options: ticket.event.ticket_types.map { |t| [t.name, t.id] }, onchange: '$(this.form).submit()' %>
  <% end %>
<% end %>
