<ul class="icon-list">
  <% tickets.order('created_at desc').each { |ticket| %>
  <li><i class="bi bi-ticket-detailed-fill"></i>
    <a href="/events/<%= ticket.event_id %>/tickets">
      <%= ticket.event.summary %>
      <% if ticket.discounted_price %>
        (<%= m ticket.discounted_price, ticket.currency %>)
      <% end %>
    </a>
  </li>
  <% } %>
</ul>
