<script>
  function toggleAdvancedSearch() {
    var searchWell = $('.search.well');
    var toggleLink = $('#toggle-search');
    var searchArrow = $('#search-arrow');

    if (searchWell.is(':visible')) {
      searchWell.hide();
      toggleLink.html('<i class="bi bi-chevron-right" id="search-arrow"></i> Show search options');
      window.dispatchEvent(new Event('resize'));
    } else {
      searchWell.show();
      toggleLink.html('<i class="bi bi-chevron-down" id="search-arrow"></i> Hide search options');
      window.dispatchEvent(new Event('resize'));
    }
  }
</script>
<div class="<% if @carousel_buttons %>text-center text-lg-right<% end %> mb-3">
  <a href="javascript:;" id="toggle-search" onclick="toggleAdvancedSearch()">
    <i class="bi <%= (params[:search] && params[:display] != 'map') ? 'bi-chevron-down' : 'bi-chevron-right' %>" id="search-arrow"></i>
    <%= (params[:search] && params[:display] != 'map') ? 'Hide search options' : 'Show search options' %>
  </a>
</div>