<% if @event.activity && (events = @event.activity.events.live.public.future.and(:id.nin => [@event.id])).exists? %>
  <div class="card shadow-sm mt-3">
    <h3 class="card-header bg-primary text-white">Upcoming <%= @event.activity.name %> events</h3>
    <div class="card-body">
      <% events.each { |event| next if event.locked? && !event_admin?(event) %>
      <%= partial :'events/block_main', locals: { event: event } %>
      <% } %>
    </div>
  </div>
<% end %>
