<div class="text-center">
  <h1>Oops, your secret is wrong</h1>
  <p>Enter the correct check-in secret for the event</p>
  <% form_tag '', class: 'd-inline-block form-inline', method: 'get' do %>
    <%= text_field_tag :secret, value: params[:secret], class: 'form-control' %>
    <%= submit_tag "Submit", class: 'btn btn-primary ml-1' %>
  <% end %>
</div>
