<%
f = Fragment.find_by(key: 'facilitator_feedback_counts')
account_ids_freq = JSON.parse(f.value)
account_ids_freq = account_ids_freq.paginate(page: params[:page], per_page: 10)
%>

<% accounts = Account.and(:id.in => account_ids_freq.map { |id, freq| id }) %>
<ul class="search-result-list">
  <% account_ids_freq.each { |id, freq|; account = accounts.find { |a| a.id == id } %>
  <li>
    <%= partial 'accounts/search_result', locals: { account: account, facilitator_info: true } %>
  </li>
  <% } %>
</ul>

<div class="mt-3">
  <%= will_paginate account_ids_freq, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>
