<%= partial :'events/nav', locals: { event: @event } %>
<style>
  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    height: 80vh;
  }

  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>
<div class="iframe-container">
  <iframe src="/events/<%= @event.id %>/reminder_email_preview"></iframe>
</div>
