<%= partial :'events/nav', locals: { event: @event } %>

<%= partial :stats, locals: { accounts: @event.attendees } %>

<h2 class="mt-5">Locations</h2>
<%= partial :'maps/map', locals: { points: @event.attendees.and(:coordinates.ne => nil) } %>

<h2 class="mt-5">Attendees</h2>

<div class="image-wall">
  <% (@event.attendees.and(:picture_uid.ne => nil).shuffle + @event.attendees.and(picture_uid: nil).shuffle).each { |account| %>
  <%= partial :'accounts/square', locals: { account: account, width: '75px' } %>
  <% } %>
</div>
