<a target="_blank" class="d-block <% if defined?(border)%>card p-2<% end %>" style="text-decoration: none;" href="https://stephenreid.net/metastrategy" class="mb-3">
  <% if sponsored == :top %>
    <div class="float-right"><span style="opacity: 0.5" class="label label-default">Sponsored</span></div>
  <% end %>
  <p class="mb-1">
    ICONOMI&copy;:
    <span class="text-dark">
      Copy-trade experienced crypto investors including Dandelion's Stephen Reid, or start your own strategy. FCA-registered.
    </span>
  </p>
  <% if sponsored == :bottom %>
    <div class="text-right"><span style="opacity: 0.5" class="label label-default">Sponsored</span></div>
  <% end %>
</a>
