<a target="_blank" class="d-block <% if defined?(border)%>card p-2 mb-1<% end %>" style="text-decoration: none;" href="https://www.performancelab.com/?a_aid=5d03d6ffe4394&a_bid=a2ad38c1" class="mb-3">
  <% if sponsored == :top %>
    <div class="float-right"><span style="opacity: 0.5" class="label label-default">Sponsored</span></div>
  <% end %>
  <p class="mb-2">
    Performance Lab&reg;:
    <span class="text-dark">Enhance sleep, vision, cognition, flexibility, energy, long-range health and more.</span>
  </p>
  <img class="w-100" src="/images/pl-symbols.png">
  <% if sponsored == :bottom %>
    <div class="text-right mt-1"><span style="opacity: 0.5" class="label label-default">Sponsored</span></div>
  <% end %>
</a>
