/* Thumbnail & Carousel Setting */

.carousel-inner > .item >a > img, 
.carousel-inner > .item > img, 
.img-responsive, 
.thumbnail a > img, 
.thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}