<%= partial :'gatherings/nav', locals: { gathering: @gathering, membership: @membership } %>

<script>
  $(function() {
    $('#payments').DataTable({
      paging: false,
      searching: false,
      bInfo: false,
      order: [[2, 'desc']]
    });
  });
</script>

<table class="table" id="payments">
  <thead>
    <tr>
      <th>Paid by</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Still a member?</th>
    </tr>
  </thead>
  <tbody>
    <% @gathering.payments.each { |payment| %>
    <tr>
      <td><%= payment.account.name %></td>
      <td><%= m payment.amount, payment.currency %></td>
      <td><%= payment.created_at %></td>
      <td>
        <% if payment.membership %>
          <i class="bi bi-check-lg"></i>
        <% end %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>