/* Calendar Page Setting */

body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	color: $color_inverse;
}

body .fc-toolbar h2 {
	font-size: 1rem;
	font-weight: 500;
	margin-top: 0.3125rem;
	margin-bottom: -0.3125rem;
}

body .fc-state-default {
	background: $color_white;
	border-color: #C8C7CC;
	@include box-shadow(none);
}

body .fc-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings' !important;
	font-style: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $body_font_size;
}

body .fc-icon-left-single-arrow:after,
body .fc-icon-right-single-arrow:after {
	font-size: $body_font_size;
}

body .fc-icon-left-single-arrow:after {
	content: '\e257';
}

body .fc-icon-right-single-arrow:after {
	content: '\e258';
}

body .fc-state-active,
.fc-state-down {
	background: #f3f3f3;
	@include box-shadow(none);
}

body .fc-unthemed .fc-content,
body .fc-unthemed .fc-divider,
body .fc-unthemed .fc-list-heading td,
body .fc-unthemed .fc-list-view,
body .fc-unthemed .fc-popover,
body .fc-unthemed .fc-row,
body .fc-unthemed tbody,
body .fc-unthemed td,
body .fc-unthemed th,
body .fc-unthemed thead {
	border-color: #e0e0e0;
}

body .fc button:focus {
	outline: none;
}

body .fc button {
	font-size: $body-font-size*0.84;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
	padding: 0.3125rem 0.5rem;
	line-height: 0.875rem;
}

body .fc-state-disabled {
	@include opacity(0.25);
}

body .fc th a,
body .fc-widget-header a {
	color: $color_inverse;
}

body .fc-head,
body .fc-body,
body .fc-list-table {
	background: $color_white;
}

body .fc-unthemed .fc-divider,
body .fc-unthemed .fc-list-heading td,
body .fc-unthemed .fc-popover .fc-header {
	background: #F9F9F9;
}

body .fc-event,
body .fc-event-dot {
	background: $color_grey;
	border: none;
}

body .fc-event.fc-external-event {
	display: inline-block;
	padding: 0.3125rem 0.5rem;
	cursor: pointer;
	margin: 0 0 0.1875rem 0;
}

body .fc-event.fc-external-event:hover {
	@include opacity(0.75);
}

body .fc-event.fc-external-event:active {
	@include opacity(0.5);
}