@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-BlackItalic.woff2') format('woff2'),
        url('Bookmania-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-Black.woff2') format('woff2'),
        url('Bookmania-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-BoldItalic.woff2') format('woff2'),
        url('Bookmania-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-Italic.woff2') format('woff2'),
        url('Bookmania-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-LightItalic.woff2') format('woff2'),
        url('Bookmania-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-Bold.woff2') format('woff2'),
        url('Bookmania-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-Regular.woff2') format('woff2'),
        url('Bookmania-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-Light.woff2') format('woff2'),
        url('Bookmania-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-SemiBoldItalic.woff2') format('woff2'),
        url('Bookmania-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookmania';
    src: url('Bookmania-SemiBold.woff2') format('woff2'),
        url('Bookmania-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

