<td style="text-align: center">
  <% if event.activity %>
    <% if event.activity.image %>
      <a href="/activities/<%= event.activity.id %>">
        <img src="<%= u event.activity.image.thumb('500x500#').url %>" style="width: 50px">
      </a>
      <br>
    <% end %>
    <a href="/activities/<%= event.activity.id %>"><%= event.activity.name %></a>
  <% end %>
</td>