<td nowrap>
  <a data-toggle="tooltip" title="Edit event" class="btn btn-sm btn-primary" href="/events/<%= event.id %>/edit"><i class="bi bi-pencil-fill"></i></a>
  <% event_image = nil; if organisation && (cohostship = event.cohostships.find_by(organisation: organisation)) && cohostship.image
  event_image = cohostship.image
  elsif event.image
  event_image = event.image
  end %>
  <% if event_image %>
    <a data-toggle="tooltip" title="Copy linked image" class="btn btn-sm btn-primary" href="javascript:;" onclick="

  var div = $(this).next().show();
  var node = $(div).find('a')[0];

  // Create a range and select the node's content
  var range = document.createRange();
  range.selectNode(node);

  // Add the selected content to the clipboard
  var selection = window.getSelection();
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand('copy');

  // Deselect the content
  selection.removeAllRanges();

  $(div).hide();
  // Alert the user that the node has been copied
  alert('Linked image copied');

    "><i class="bi bi-image"></i></a>
    <div style="display: none">
      <a target="_parent" href="<%= ENV['BASE_URI'] %>/e/<%=event.slug%>"><img src="<%= u event_image.thumb('1920x1920').url %>"></a>
    </div>
  <% end %>
</td>