<td style="text-align: center; white-space: nowrap">
  <% if event.event_facilitations.exists? %>
    <% event.event_facilitations.each do |event_facilitation| %>
      <a href="/u/<%= event_facilitation.account.username %>"><%= event_facilitation.account.name %></a>
      <br />
    <% end %>
  <% end %>
</td>