<td style="text-align: center">
  <% if event.event_facilitations.count > 0 %>
    <% event.event_facilitations.each do |event_facilitation| %>
      <%= partial :'accounts/square', locals: { account: event_facilitation.account, width: '50px' } %>
      <br />
      <a href="/u/<%= event_facilitation.account.username %>"><%= event_facilitation.account.name %></a>
      <br />
    <% end %>
  <% end %>
</td>