<td data-sort="<%=money_sort(event, organisation, :profit_less_donations_less_allocations)%>">
  <% if event.revenue_sharer %>
    <%= "#{event.profit_share_to_organisation}/#{event.revenue_share_to_organisation}" %><br />
  <% else %>
    <%= "#{event.profit_share_to_organisation}%" %><br />
  <% end %>
  <%= m event.profit_less_donations_less_allocations, event.currency %>
</td>