<td data-sort="<%=money_sort(event, organisation, :revenue)%>">
  <% dandelion = "#{m(event.revenue, event.currency)} from #{pluralize(event.orders.and(:transferred.ne => true, :payment_intent.ne => nil).count, 'order')}" %>
  <%= dandelion.split(' from ').first %> from <a href="/events/<%=event.id%>/orders"><%= dandelion.split(' from ').last %></a>
</td>