<td data-sort="<%=money_sort(event, organisation, :stripe_ticket_revenue_to_organisation)%>">
  <span data-toggle="tooltip" title="Reported by Dandelion" class="label label-primary d-block mb-1"><%= m event.ticket_revenue_to_organisation, event.currency %></span>
  <span data-toggle="tooltip" title="Reported by Stripe (48h delay)" class="label label-stripe d-block mb-1"><%= m event.stripe_ticket_revenue_to_organisation, event.currency %></span>
</td>