<%
  show_donation_field = @event.organisation && ((@event.organisation.gocardless_subscriptions && @event.organisation.gocardless_access_token) || @event.organisation.patreon_api_key)
  persisted_ticket_groups = f.object.ticket_groups.select(&:persisted?)
%>

<style>
  .ticket_type { position: relative; border: 1px solid #DADADE; border-radius: 5px; cursor: grab; }
  .ticket_type.ui-sortable-helper { cursor: grabbing; }
  .ticket_type .remove-ticket-type { position: absolute; right: 0; top: 0; }
</style>

<template id="ticket_type_template">
  <div class="ticket_type bg-light shadow-sm pt-3 pb-0 pl-3 pr-5 mb-3">
    <%= partial 'events_build/ticket_type_fields', locals: { currency: f.object.currency, show_donation_field: show_donation_field, persisted_ticket_groups: persisted_ticket_groups } %>

    <a class="btn btn-sm text-dark remove-ticket-type" href="javascript:;" onclick="$(this).closest('.ticket_type').remove()">
      <i class="bi bi-x-lg"></i>
    </a>
  </div>
</template>

<div class="form-group">
  <label>
    Ticket types
  </label>
  <div>
    <div id="ticket_types">
      <% f.fields_for :ticket_types, f.object.ticket_types.sort_by(&:order) do |o| %>
        <div class="ticket_type bg-light shadow-sm pt-3 pb-0 pl-3 pr-5 mb-3 <%= 'has-error' if o.object.invalid? %>">
          <%= partial 'events_build/ticket_type_fields', locals: { form: o, currency: f.object.currency, show_donation_field: show_donation_field, persisted_ticket_groups: persisted_ticket_groups } %>

          <% if o.object.new_record? %>
            <a class="btn btn-sm text-dark remove-ticket-type" href="javascript:;" onclick="$(this).closest('.ticket_type').remove()">
              <i class="bi bi-x-lg"></i>
            </a>
          <% else %>
            <a class="btn btn-sm text-dark remove-ticket-type" href="javascript:;" onclick="$(this).children().last().prop('checked', true).closest('.ticket_type').hide()">
              <i class="bi bi-x-lg"></i>
              <%= o.check_box '_destroy', style: 'display: none' %>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>

    <a id="ticket_types_add" class="btn btn-sm btn-primary" href="javascript:;"><i class="bi bi-plus-lg"></i> Add ticket type</a>

    <script>
      $(function () {
        $("#ticket_types").sortable({
          cursor: 'grabbing'
        }).closest('form').submit(function () {
          $('.ticket_type').each(function (i) {
            $("input[name$='[order]']", this).val(i)
          })
        })

        $('#ticket_types_add').click(function () {
          var c = $('.ticket_type').length
          var template = document.getElementById('ticket_type_template')
          var clone = $(template.content.cloneNode(true))
          var d = clone.find('.ticket_type')

          d.find('[data-field]').each(function () {
            var field = $(this).data('field')
            $(this).attr('name', 'event[ticket_types_attributes][' + c + '][' + field + ']')
            $(this).attr('id', 'event_ticket_types_attributes_' + c + '_' + field)
          })

          d.appendTo('#ticket_types')

          if (typeof $.currencySymbol !== 'undefined') {
            d.find('.money-symbol').text($.currencySymbol($('#event_currency').val()))
          }

          d.find('[data-toggle="tooltip"]').tooltip()

          d.find('.datetimepicker').flatpickr({
            altInput: true,
            altFormat: 'J F Y, H:i',
            enableTime: true,
            time_24hr: true
          })
        })
      })
    </script>
  </div>
</div>
