<div class="form-group">
  <label>
    Ticket groups
  </label>
  <div>
    <div id="ticket_groups">
      <% f.fields_for :ticket_groups do |o| %>
        <div class="ticket_group bg-light shadow-sm <%= 'has-error' if o.object.invalid? %>">
          <div><%= o.text_field :name, class: 'form-control', placeholder: 'Name' %></div>
          <div><%= o.number_field :capacity, class: 'form-control ml-1', placeholder: 'Capacity' %></div>
          <% if o.object.new_record? %>
            <a class="btn btn-sm text-dark remove-ticket-group" href="javascript:;" onclick="$(this).closest('.ticket_group').remove()">
              <i class="bi bi-x-lg"></i>
            </a>
          <% else %>
            <a class="btn btn-sm text-dark remove-ticket-group" href="javascript:;" onclick="$(this).siblings().last().prop('checked', true).closest('.ticket_group').hide()">
              <i class="bi bi-x-lg"></i>
              <%= o.check_box '_destroy', style: 'display: none' %>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
    <a id="ticket_groups_add" class="btn btn-sm btn-primary" href="javascript:;"><i class="bi bi-plus-lg"></i> Add ticket group</a>
    <p style="display: none" id="ticket_groups_save" class="my-1">
      <em>Save the event to add tickets to these ticket groups.</em>
    </p>
    <style>
      .ticket_group { position: relative; margin-bottom: 10px; padding: 15px; padding-bottom: 10px; border: 1px solid #DADADE; border-radius: 5px }
      .ticket_group > div, .ticket_group > label { display: inline-block; margin-bottom: 5px; margin-right: 5px }
      .ticket_group input[name$='[name]'] { display: inline-block; width: auto }
      .ticket_group input[name$='[capacity]'] { display: inline-block; width: 8em }
      .ticket_group .remove-ticket-group { position: absolute; right: 0; top: 0; }
      @media(max-width: 767px) {
        .ticket_group input, .ticket_group select { border: 0; border-bottom: 1px solid #C7C6CB; border-radius: 0;  }
        .ticket_group input[name$='[name]'] { width: 9.75em }
      }
    </style>
    <script>
      $(function () {

        $('#ticket_groups_add').click(function () {
          $('#ticket_groups_save').show()
          var c = $('.ticket_group').length

          var d = $('<div class="ticket_group bg-light shadow-sm"/>');

          var nameDiv = $('<div></div>')
          var nameInput = $('<input type="text" />');
          nameInput.attr('name', 'event[ticket_groups_attributes][' + c + '][name]');
          nameInput.attr('id', 'event_ticket_groups_attributes_' + c + '_name');
          nameInput.attr('placeholder', 'Name');
          nameInput.addClass('form-control');
          nameInput.appendTo(nameDiv);
          nameDiv.appendTo(d);

          var capacityDiv = $('<div></div>')
          var capacityInput = $('<input type="number" step="any" />');
          capacityInput.attr('name', 'event[ticket_groups_attributes][' + c + '][capacity]');
          capacityInput.attr('id', 'event_ticket_groups_attributes_' + c + '_capacity');
          capacityInput.attr('placeholder', 'Capacity');
          capacityInput.addClass('form-control ml-1');
          capacityInput.appendTo(capacityDiv);
          capacityDiv.appendTo(d);

          $('<a class="btn btn-sm text-dark remove-ticket-group" href="javascript:;" onclick="$(this).closest(\'.ticket_group\').remove()"><i class="bi bi-x-lg"></i></a>').appendTo(d);

          d.appendTo('#ticket_groups');
        });
      });
    </script>
  </div>
</div>
