<div class="row mb-2">
  <div class="col-12 col-lg mb-2 mb-lg-0">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <%= form_or_tag_field(form, :text_field, :name, class: 'form-control', required: true) %>
    </div>
  </div>
  <div class="col-12 col-lg mb-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Capacity</span>
      </div>
      <%= form_or_tag_field(form, :number_field, :capacity, class: 'form-control', required: true) %>
    </div>
  </div>
</div>
