<style>
  .ticket_group { position: relative; border: 1px solid #DADADE; border-radius: 5px; }
  .ticket_group .remove-ticket-group { position: absolute; right: 0; top: 0; }
</style>

<template id="ticket_group_template">
  <div class="ticket_group bg-light shadow-sm pt-3 pb-0 pl-3 pr-5 mb-3">
    <%= partial 'events_build/ticket_group_fields' %>

    <a class="btn btn-sm text-dark remove-ticket-group" href="javascript:;" onclick="$(this).closest('.ticket_group').remove()">
      <i class="bi bi-x-lg"></i>
    </a>
  </div>
</template>

<div class="form-group">
  <label>
    Ticket groups
  </label>
  <div>
    <div id="ticket_groups">
      <% f.fields_for :ticket_groups do |o| %>
        <div class="ticket_group bg-light shadow-sm pt-3 pb-0 pl-3 pr-5 mb-3 <%= 'has-error' if o.object.invalid? %>">
          <%= partial 'events_build/ticket_group_fields', locals: { form: o } %>

          <% if o.object.new_record? %>
            <a class="btn btn-sm text-dark remove-ticket-group" href="javascript:;" onclick="$(this).closest('.ticket_group').remove()">
              <i class="bi bi-x-lg"></i>
            </a>
          <% else %>
            <a class="btn btn-sm text-dark remove-ticket-group" href="javascript:;" onclick="$(this).find('input[type=checkbox]').prop('checked', true).closest('.ticket_group').hide()">
              <i class="bi bi-x-lg"></i>
              <%= o.check_box '_destroy', style: 'display: none' %>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
    <a id="ticket_groups_add" class="btn btn-sm btn-primary" href="javascript:;"><i class="bi bi-plus-lg"></i> Add ticket group</a>
    <p style="display: none" id="ticket_groups_save" class="my-1">
      <em>Save the event to add tickets to these ticket groups.</em>
    </p>

    <script>
      $(function () {
        $('#ticket_groups_add').click(function () {
          $('#ticket_groups_save').show()
          var c = $('.ticket_group').length
          var template = document.getElementById('ticket_group_template')
          var clone = $(template.content.cloneNode(true))
          var d = clone.find('.ticket_group')

          d.find('[data-field]').each(function () {
            var field = $(this).data('field')
            $(this).attr('name', 'event[ticket_groups_attributes][' + c + '][' + field + ']')
            $(this).attr('id', 'event_ticket_groups_attributes_' + c + '_' + field)
          })

          d.appendTo('#ticket_groups')
        })
      })
    </script>
  </div>
</div>
