<div class="card shadow-sm" id="pay-with-evm" style="display: none">
  <h3 class="card-header bg-primary text-white">
    Pay with <%= @event.chain.name %>
  </h3>
  <div class="card-body">
    <p class="lead please"></p>
    <p class="web3wallet"></p>
    <% if @event.organisation.evm_address && @event.chain.name == 'Celo' %>
      <div class="qr mb-3">
        <p class="mb-1">or use this QR code with Valora:</p>
        <div id="qrcode"></div>
        <script type="text/javascript">
          new QRCode(document.getElementById("qrcode"), "celo://wallet/pay?address=<%=@event.organisation.evm_address%>");
        </script>
      </div>
    <% end %>
    <p>Making a manual transaction? You will find pasting these details easier if you 'Expand view' first.</p>
    <p>Looking for your transaction... <i class="bi bi-spin bi-slash-lg"></i></p>
  </div>
</div>
