<p class="lead">Dandelion is an open-source project. <a target="_blank" href="https://github.com/symbiota-coop/dandelion">View the code on Github</a></p>

<div class="mb-3">
  <% form_tag '', method: 'get', class: 'submitOnChange form-inline' do %>
    <div class="row no-gutters">
      <div class="col-auto">
        <%= month_field_tag :month, class: 'form-control', value: @month %>
      </div>
      <div class="col-auto ml-2">
        <%= submit_tag 'View updates', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<%= cp(:'code/commits', key: "/commits?month=#{@month}", expires: 1.day.from_now) %>

<%= partial :'code/network' %>
