$color_primary: rgb(0, 185, 99); // #00B963
$color_primary_transparent_5: rgba(0, 185, 99, 0.5);
$color_primary_transparent_3: rgba(0, 185, 99, 0.3);
$color_primary_transparent_1: rgba(0, 185, 99, 0.1);
$color_primary_hover: rgb(43, 164, 87); // #2BA457
$color_link_hover: rgb(43, 164, 87); // #2BA457
$color_theme: rgb(251, 174, 59); // #FBAE3B
$color_theme_transparent: rgba(251, 174, 59, 0.5);
$body_font_family: 'Plus Jakarta Sans', sans-serif;
$body_font_size: 0.825rem;
$body_text: #212529;
$bg_well: #F5F5F5;

@import "../infinite_admin/scss/style";

a.btn-outline-danger:focus {
  color: $color_danger;
}

@media(min-width: 576px) {
  form.form-inline input.datepicker {
    width: 10em !important
  }
}

a.ui-menu-item-wrapper {
  display: block;
  text-decoration: none
}

a.ui-menu-item-wrapper:focus,
a.ui-menu-item-wrapper:hover {
  color: #333
}

.ui-widget {
  font-family: $body_font_family
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  font-weight: inherit
}

.introjs-tooltipReferenceLayer,
.introjs-tooltipReferenceLayer * {
  font-family: $body_font_family
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold
}

.ck-heading_paragraph_lead {
  font-size: 0.85rem !important
}

a.text-primary:hover,
a.text-primary:focus {
  color: $color_primary_hover !important
}

ul.pagination {
  justify-content: center;
}

.shorturl {
  display: inline;
  height: auto;
  width: 15em;
  border: 0;
  border-radius: 0;
  border-bottom: 1px dotted #C8C7CC;
  padding: 0;
  padding-left: 0.375rem
}

.shorturl:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none
}

.shorturl+a {
  color: $body_text
}

.grecaptcha-badge {
  visibility: hidden;
}

.no-spinner .bi.bi-spin.bi-arrow-repeat {
  display: none
}

mark,
.highlight {
  padding-left: 0;
  padding-right: 0;
  background-color: #FDFFAA
}

.dropdown-menu>li.notification .notification-info,
.dropdown-menu>li.notification .notification-title,
.dropdown-menu>li.notification .notification-desc {
  white-space: normal;
  line-height: 1.35
}


a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus,
.bg-primary-hover {
  background-color: $color_primary_hover !important
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: $color_primary;
  border-color: $color_primary
}

.gm-style {
  font-family: $body_font_family
}

body[contenteditable] {
  background: white
}

#content {
  background: white
}

@media print {
  a[href]:after {
    content: none;
  }
}

.progress {
  background-color: $color_primary_transparent_3;
}

.progress-bar {
  border-radius: 0;
}

.label-ai {
  background: #752DB9
}

.label-stripe {
  background: #6158F7
}

.label-outline-primary {
  color: $color_primary;
  border: 1px solid $color_primary;
}

label .form-text {
  font-weight: 500
}

.map-icon-label .bi {
  color: white;
  font-size: 20px !important;
  position: relative;
  top: -18px
}

.map-icon-label .map-icon {
  color: white;
  font-size: 22px !important;
  position: relative;
  top: -4px
}

.navbar-brand .hw {
  font-size: 1.6rem;
  line-height: 1rem;
  position: relative;
}

.note-group-select-from-files {
  display: none
}

.subtle {
  color: $color_grey !important
}

.subtle.active,
.subtle:hover {
  color: $color_primary !important
}

.message-preview:hover,
.message-preview.active {
  background: $color_muted_transparent_3
}

.message-preview.unread {
  background: $color_theme_transparent !important
}

.table-hr td:first-child {
  width: 1px;
  white-space: nowrap;
  font-weight: bold;
  padding-right: 1rem;
}

.table-hr td {
  border: 0 !important;
  border-bottom: 0.1rem solid #eee !important;
}

.tactivity a,
.tactivity span {
  font-size: 0.8rem;
  color: white
}

.tactivity,
.tactivity-accept {
  height: 8rem
}

td .tactivity,
td .tactivity-accept {
  width: 16rem
}

.tactivity h3 {
  line-height: 1.2rem
}

.tactivity h3 a {
  font-size: 1.2rem
}

textarea[id=comment_body] {
  height: 4em;
  overflow: hidden;
}

textarea[id=verdict_reason] {
  height: 6em;
}

.image-wall {}

.image-wall img {
  margin-bottom: 0.2rem;
}

.input-group-prepend,
.input-group-append {
  height: 2.125rem
}

.badge {
  border-radius: 0.25rem
}

.alert button.close {
  font-size: 1rem
}

.alert-danger a {
  color: #e2342a;
  font-weight: bold
}

.alert a {
  font-weight: bold
}

li.reply .widget-chat-message a {
  color: white;
  text-decoration: underline
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pace .pace-tactivity {
  display: none
}

.bgo:hover {
  opacity: 0 !important
}

.rainbow {
  margin: 0 auto;
  background: linear-gradient(to right, #8747e6, #47a6e6, #54e645);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4.block-title {
  font-size: 1.66rem
}

#gathering-nav ul li a {
  font-size: 0.75rem
}

#gathering-nav .nav-link {
  padding: 0.33rem 0.66rem
}

#gathering-nav .nav>li>a:focus,
#gathering-nav .nav>li>a:hover {
  background: $color_inverse
}

#gathering-nav .nav-pills .nav-link.active,
#gathering-nav .nav-pills .show>.nav-link {
  background: $color_inverse
}

.ck-editor__editable {
  max-height: 500px
}

.select2-container {
  height: auto;
}

.bi.bi-star-fill {
  color: #f5b041
}

.editor-preview {
  font-size: 18px
}

div.wysiwyg img,
.editor-preview-side img,
.editor-preview img {
  max-width: 100%
}

.ck-content .image {
  margin: 0 !important
}

div.wysiwyg figcaption {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  text-align: center
}


.ql-editor p {
  margin-bottom: 1rem
}

img.private {
  opacity: 0.5
}

img.private:hover {
  opacity: 1
}

.CodeMirror-fullscreen {
  z-index: 9999
}

.CodeMirror,
.CodeMirror-scroll {
  max-height: 25em;
  font-size: 18px;
}

.CodeMirror-fullscreen.CodeMirror {
  max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
}

.ticket {
  border-style: dashed !important;
  background: $color_primary_transparent_3;
}


.calendar-date {
  color: #222222;
  padding: 0.3em 0.75em;
  margin-right: 0.25em;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  border: 2px solid $color_primary_transparent_5;
  border-radius: 4px
}

.calendar-date .day {
  font-size: 1.5rem
}

.calendar-date .month {
  text-transform: uppercase
}

.calendar-date:hover {
  text-decoration: none;
  color: white;
  background-color: $color_primary
}

.ck-content blockquote,
blockquote {
  margin-bottom: 1rem;
  font-size: 1rem;
  border-left: 0.25rem solid rgba(0, 185, 99, 0.33) !important;
  padding-left: 1rem;
  font-style: italic;
}

blockquote p {
  margin-bottom: 0.5rem;
}

small.form-text {
  font-size: 0.85rem;
  color: $color_muted;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #FF9500 !important
}

.bg-coinbase {
  background-color: #2D53F1
}

.bg-primary-transparent {
  background: $color_primary_transparent_3
}

.form-control.datetimepicker[readonly] {
  background: white
}

.searchForm .form-group,
.searchForm .form-check {
  margin-bottom: 0.25rem;
  margin-right: 0.25rem
}

.searchForm label {
  margin-right: 0.25rem
}

.searchForm .checkbox-inline label {
  font-weight: bold
}

@media(max-width: 575px) {
  .searchForm {
    display: block
  }

  .searchForm input[type=submit] {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .searchForm .checkbox-inline {
    margin-top: 0.5rem;
  }
}

@media(min-width: 576px) {
  .searchForm input[type=submit] {
    margin-bottom: 0.25rem;
  }
}

body {
  background: white
}

.btn-secondary:focus {
  color: white
}

.dropdown-menu {
  z-index: 9999
}

#content .dropdown-menu .bi {
  margin-right: 0.33rem
}



.btn-dotted {
  background: white;
  color: $color_primary;
  border: none;
  border-radius: 0;
  border-bottom: 1px dotted $color_primary
}

.btn-dotted:hover {
  border-radius: 0.25rem
}


.slick-container .slick-responsive {
  margin-bottom: 25px
}

.slick-container .slick-item {
  display: none;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.slick-container .slick-item:nth-child(1) {
  display: block;
}

@media(min-width: 576px) {
  .slick-container .slick-item:nth-child(2) {
    display: block;
  }
}

@media(min-width: 992px) {
  .slick-container .slick-item:nth-child(3) {
    display: block;
  }
}

.slick-container .slick-responsive.slick-initialized .slick-item {
  display: block;
}

.slick-container .slick-responsive.slick-initialized .slick-item {
  max-width: none !important
}

.slick-placeholder .slick-dots {
  opacity: .25
}

.slick-next:before {
  content: none
}

.slick-prev:before {
  content: none
}

.slick-prev {
  left: 0px
}

.slick-next {
  right: 0px
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: black;
  background: white;
  opacity: 0.75;
}

.slick-prev,
.slick-next {
  border-radius: 50% !important;
  background: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  z-index: 2;
  color: black;
  opacity: 0.5;
}

.float-sub-menu {
  z-index: 99
}

.infowindow .row {
  margin: 0
}

.ck-progress-bar {
  height: 100% !important;
  width: 100% !important;
  background: white !important;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

figure.image,
.ck-content .image {
  margin-bottom: 1em !important
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 0.5;
  }
}

.row.block.no-gutters.align-items-stretch {
  margin: 0
}

@media(min-width: 992px) {
  .row.block.no-gutters.align-items-stretch {
    background: $bg_well;
    border-radius: 0.25rem;
  }
}

@media(min-width: 992px) {
  .search.well {
    padding-top: 1.0875rem;
    padding-bottom: 0
  }
}

.search.well .checkbox-inline {
  cursor: auto;
  background-color: white;
  padding: 0.3rem;
  padding-bottom: 0.2rem;
  border-radius: 0.25rem
}

.search.well .checkbox-inline label {
  cursor: pointer
}

.search.well .checkbox-inline.checked {
  border: 1px solid $color_primary;
}

@media(min-width: 576px) {
  .search.well input[type=submit] {
    margin: 0 !important
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.flicker {
  animation: flickerAnimation 2s infinite;
}

.sponsored {
  text-decoration: none !important;
}

.page-sidebar-minified #git-badge {
  display: none
}

a.home-feedback {
  color: $body_text;
  text-decoration: none;
}


.ck-content .image-style-align-left,
.image-style-align-left {
  float: none !important;
  margin-right: auto !important;
  text-align: left !important;
}

.ck-content .image-style-align-right,
.image-style-align-right {
  float: none !important;
  margin-left: auto !important;
  text-align: right !important;
}

.ck-content .image-style-align-center,
.image-style-align-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}


.input-group-text {
  padding: 0.375rem 0.5rem
}

#donation-percent-buttons .btn {
  padding: 0.375rem 0.5rem
}

p.action {
  text-align: center
}

p.action a {
  display: inline-block;
  background: $color_primary !important;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px
}

p.action a:hover {
  background: $color_primary_hover !important;
}

figure th,
figure td {
  width: 50%;
  padding-right: 8px;
  padding-bottom: 8px
}

figure th,
figure td {
  border: 0 !important;
}

.ck-editor th,
.ck-editor td {
  border: 1px solid #bfbfbf !important;
}

.embed-responsive-ps::before {
  padding-top: 52.5%;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
  }
}

@media(min-width: 576px) {

  form.searchForm input,
  form.searchForm select {
    max-width: 12em
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bi-spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

.icon-list {
  list-style-type: none;
  padding-left: 0;
}

.icon-list>li {
  position: relative;
  padding-left: 2em;
}

.icon-list>li>.bi {
  position: absolute;
  left: 0;
  top: 0;
}