@import "variables";
@import "../infinite_admin/scss/style";
@import "event_details";

.gradient-text {
  background: radial-gradient(circle at 0 0, #099ef1 0%, #6863f8 18.82%, #d84ffa 32.6%, #f058c5 52.83%, #ff4f90 68.03%, #ff6558 87.66%, #ff891f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.add-block label {
  display: none
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
  font-weight: 400
}

.select2-container--bootstrap4 .select2-selection__clear {
  line-height: .65em;
  margin-top: .8em;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  margin-top: calc(.375rem - 1px)
}

.select2-container--bootstrap4 .select2-selection {
  border-color: #C8C7CC
}

@media (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: none;
  }
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.15s;
}

@media (min-width: 768px) {

  #header {
    view-transition-name: header;
  }

  #sidebar {
    view-transition-name: sidebar;
  }

  ::view-transition-old(header),
  ::view-transition-new(header),
  ::view-transition-old(sidebar),
  ::view-transition-new(sidebar) {
    animation: none;
    mix-blend-mode: normal;
  }
}

.ticket-type-description p {
  margin-bottom: 0;
}

.readable {
  font-size: 1rem;
  line-height: 1.5;
}

.read-more-toggle {
  font-size: 82.5%
}

#carousel-buttons-container {
  background: white;
}

.checkbox-inline label {
  cursor: pointer;
}

table.event-details td {
  font-size: 1.25em
}

.event-detail img {
  margin-top: 0.375em;
}

.event-detail:hover {
  background-color: $color_primary;
}

.event-detail:hover img {
  filter: invert(1);
  opacity: 1;
}

.event-detail.calendar-date:hover {
  color: white !important;
  text-decoration: none !important;
}

.event-detail.calendar-date .day {
  padding: 0.1em;
}

.select-placeholder {
  color: $placeholder_grey !important;
}

.navbar-xs-justified {
  border: 0 !important
}

div.block-title.map-event {
  margin-bottom: 0.5rem !important;
}

div.block-title.map-event h4 {
  font-size: 1.1rem !important;
  display: inline-block !important;
  margin-bottom: 0 !important;
}

ul.map-event li {
  font-size: 0.85rem !important
}

#calendar a.fc-event {
  color: $color_highlight_1 !important;
}

.fc-button {
  background-color: transparent !important;
  border-color: $calendar_grey !important;
  color: $calendar_grey !important;
}

.fc-button:hover {
  background-color: $calendar_grey !important;
  border-color: $calendar_grey !important;
  color: white !important;
}

.fc-button-active {
  background-color: $calendar_grey !important;
  border-color: $calendar_grey !important;
  color: white !important;
}

body.gradient,
body.gradient #content {
  background:
    linear-gradient(135deg, $color_highlight_1_light_3 0%, $color_paper 50%),
}

.gradient {
  background:
    linear-gradient(135deg, $color_highlight_1_light_3 0%, $color_paper 50%),
    linear-gradient(to bottom, transparent 80%, white 100%);
  background-blend-mode: lighten;
}

.content-padding-x {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.content-padding-top {
  padding-top: 0.9375rem;
}

@media(min-width: 768px) {
  .content-padding-x {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  .content-padding-top {
    padding-top: 1.5625rem;
  }
}

body.greyed,
body.greyed #content {
  background-color: $color_superlight;
}

.invalid-feedback {
  display: block;
}

.slick-placeholder h2 {
  color: #E8E8E8;
}

.slick-placeholder img {
  background: #E8E8E8;
}

#header {
  background: linear-gradient(45deg, #222 0%, #222 66%, $color_highlight_1 100%) !important;
}

.ai-well {
  background: linear-gradient(135deg, $color_highlight_1_light_1 0%, $color_highlight_1_light_1 50%, $color_highlight_1_light_2 100%) !important;
  padding: 1rem;
  border-radius: 0.5rem;
}

table.dataTable.table-sm>thead>tr>th {
  background: white
}

.select2-choices {
  box-shadow: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px
}

.lookup .select2-choice {
  height: 32px !important;
  line-height: 32px !important;
}

.bg-primary.text-white,
.progress-bar {
  background: linear-gradient(135deg, $color_primary 0%, $color_primary 50%, $color_primary_light 100%) !important;
  border: none !important;
}

.card-header.chill {
  background: white !important;
  color: #212529 !important;
  border: none !important;
  position: relative;
}

.card-header.chill::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.newsfeed-icon {
  font-size: 16px;
}

.newsfeed-icon .bi-ticket-detailed-fill {
  position: relative;
  top: -1px;
}

a.btn-outline-danger:focus {
  color: $color_danger;
}

@media(min-width: 576px) {
  form.form-inline input.datepicker {
    width: 10em !important
  }
}

a.ui-menu-item-wrapper {
  display: block;
  text-decoration: none
}

a.ui-menu-item-wrapper:focus,
a.ui-menu-item-wrapper:hover {
  color: #333
}

.ui-widget {
  font-family: $body_font_family
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  font-weight: inherit
}

.introjs-tooltipReferenceLayer,
.introjs-tooltipReferenceLayer * {
  font-family: $body_font_family
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold
}

.ck-heading_paragraph_lead {
  font-size: 0.85rem !important
}

a.text-primary:hover,
a.text-primary:focus {
  color: $color_primary_hover !important
}

ul.pagination {
  justify-content: center;
}

.shorturl {
  display: inline;
  height: auto;
  width: 15em;
  border: 0;
  border-radius: 0;
  border-bottom: 1px dotted #C8C7CC;
  padding: 0;
  padding-left: 0.375rem
}

.shorturl:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none
}

.shorturl+a {
  color: $body_text
}

.grecaptcha-badge {
  visibility: hidden;
}

.no-spinner .bi.bi-spin {
  display: none
}

mark,
.highlight {
  padding-left: 0;
  padding-right: 0;
  background-color: #FDFFAA
}

.dropdown-menu>li.notification .notification-info,
.dropdown-menu>li.notification .notification-title,
.dropdown-menu>li.notification .notification-desc {
  white-space: normal;
  line-height: 1.35
}


a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus,
.bg-primary-hover {
  background-color: $color_primary_hover !important
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: $color_primary;
  border-color: $color_primary
}

.gm-style {
  font-family: $body_font_family
}

body[contenteditable] {
  background: white
}

#content {
  background: white
}

@media print {
  a[href]:after {
    content: none;
  }
}

.progress {
  background-color: $color_primary_transparent_3;
}

.progress-bar {
  border-radius: 0;
}

.label-ai {
  background: #752DB9
}

.label-stripe {
  background: #6158F7
}

.label-outline-primary {
  color: $color_primary;
  border: 1px solid $color_primary;
}

label .form-text {
  font-weight: 500
}

#map-canvas button[title=Close] {
  height: 36px !important;
  margin-top: -8px !important;
  margin-right: 2px !important;
}

.map-icon-label .bi {
  color: white;
  font-size: 20px !important;
  position: relative;
  top: -18px
}

.map-icon-label .map-icon {
  color: white;
  font-size: 22px !important;
  position: relative;
  top: -4px
}

.note-group-select-from-files {
  display: none
}

.subtle {
  color: $color_grey !important
}

.subtle.active,
.subtle:hover {
  color: $color_primary !important
}

.message-preview:hover,
.message-preview.active {
  background: $color_muted_transparent_3
}

.message-preview.unread {
  background: $color_theme_transparent !important
}

.table-hr td:first-child {
  width: 1px;
  white-space: nowrap;
  font-weight: bold;
  padding-right: 1rem;
}

.table-hr td {
  border: 0 !important;
  border-bottom: 0.1rem solid #E6E5E7 !important;
}

.tactivity a,
.tactivity span {
  font-size: 0.8rem;
  color: white
}

.tactivity,
.tactivity-accept {
  height: 8rem
}

td .tactivity,
td .tactivity-accept {
  width: 16rem
}

.tactivity h3 {
  line-height: 1.2rem
}

.tactivity h3 a {
  font-size: 1.2rem
}

textarea[id=comment_body] {
  height: 4em;
  overflow: hidden;
}

textarea[id=verdict_reason] {
  height: 6em;
}

.image-wall {}

.image-wall img {
  margin-bottom: 0.2rem;
}

.input-group-prepend,
.input-group-append {
  height: 2.125rem
}

.badge {
  border-radius: 0.25rem
}

.alert button.close {
  font-size: 1rem
}

.alert-danger a {
  color: #e2342a;
  font-weight: bold
}

.alert a {
  font-weight: bold
}

li.reply .widget-chat-message a {
  color: white;
  text-decoration: underline
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pace .pace-tactivity {
  display: none
}

.bgo:hover {
  opacity: 0 !important
}

.rainbow {
  margin: 0 auto;
  background: linear-gradient(to right, #8747e6, #47a6e6, #54e645);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4.block-title,
div.block-title,
div.block-title h4 {
  font-size: 1.66rem
}

div.block-title .label {
  font-size: 0.75rem;
  position: relative;
  top: -0.25rem;
}

#gathering-nav ul li a {
  font-size: 0.75rem
}

#gathering-nav .nav-link {
  padding: 0.33rem 0.66rem
}

#gathering-nav .nav>li>a:focus,
#gathering-nav .nav>li>a:hover {
  background: $color_inverse
}

#gathering-nav .nav-pills .nav-link.active,
#gathering-nav .nav-pills .show>.nav-link {
  background: $color_inverse
}

.ck-editor__editable {
  max-height: 500px
}

.select2-container {
  height: auto;
}

.bi.bi-star-fill {
  color: #f5b041
}

.editor-preview {
  font-size: 18px
}

div.wysiwyg img,
.editor-preview-side img,
.editor-preview img {
  max-width: 100%
}

.ck-content .image {
  margin: 0 !important
}

div.wysiwyg figcaption {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  text-align: center
}


.ql-editor p {
  margin-bottom: 1rem
}

img.private {
  opacity: 0.5
}

img.private:hover {
  opacity: 1
}

.CodeMirror-fullscreen {
  z-index: 9999
}

.CodeMirror,
.CodeMirror-scroll {
  max-height: 25em;
  font-size: 18px;
}

.CodeMirror-fullscreen.CodeMirror {
  max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
}

.ck-content blockquote,
blockquote {
  margin-bottom: 1rem;
  font-size: 1rem;
  border-left: 0.25rem solid rgba(0, 185, 99, 0.33) !important;
  padding-left: 1rem;
  font-style: italic;
}

blockquote p {
  margin-bottom: 0.5rem;
}

small.form-text {
  font-size: 0.85rem;
  color: $color_muted;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #FF9500 !important
}

.bg-coinbase {
  background: #2D53F1 !important
}

.bg-gocardless {
  background: #1C1B18 !important
}

.label.bg-gocardless {
  color: #F1F252 !important
}

.bg-primary-transparent {
  background: $color_primary_transparent_3
}

.form-control.datetimepicker[readonly] {
  background: white
}

.searchForm .form-group,
.searchForm .form-check {
  margin-bottom: 0.25rem;
  margin-right: 0.25rem
}

.searchForm label {
  margin-right: 0.25rem
}

.searchForm .checkbox-inline label {
  font-weight: bold
}

@media(max-width: 575px) {
  .searchForm {
    display: block
  }

  .searchForm input[type=submit] {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .searchForm .checkbox-inline {
    margin-top: 0.5rem;
  }
}

@media(min-width: 576px) {
  .searchForm input[type=submit] {
    margin-bottom: 0.25rem;
  }
}

body {
  background: white
}

.btn-secondary:focus {
  color: white
}

.btn-signal {
  background-color: #3B45FE;
  border-color: #3B45FE;
  color: white;
}

.btn-signal:hover,
.btn-signal:focus,
.btn-signal:active {
  background-color: #2a32d4 !important;
  border-color: #2a32d4 !important;
  color: white !important;
  box-shadow: 0 0 0 0.2rem rgba(59, 69, 254, 0.25) !important;
}

.dropdown-menu {
  z-index: 9999
}

#content .dropdown-menu .bi {
  margin-right: 0.33rem
}



.btn-dotted {
  background: white;
  color: $color_primary;
  border: none;
  border-radius: 0;
  border-bottom: 1px dotted $color_primary
}

.btn-dotted:hover {
  border-radius: 0.25rem
}


.slick-container .slick-responsive {
  margin-bottom: 25px
}

.slick-container .slick-item {
  display: none;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.slick-container .slick-item:nth-child(1) {
  display: block;
}

@media(min-width: 576px) {
  .slick-container .slick-item:nth-child(2) {
    display: block;
  }
}

@media(min-width: 992px) {
  .slick-container .slick-item:nth-child(3) {
    display: block;
  }
}

.slick-container .slick-responsive.slick-initialized .slick-item {
  display: block;
}

.slick-container .slick-responsive.slick-initialized .slick-item {
  max-width: none !important
}

.slick-placeholder {
  letter-spacing: -1px
}

.slick-placeholder .slick-dots {
  opacity: .25
}

.slick-next:before {
  content: none
}

.slick-prev:before {
  content: none
}

.slick-prev {
  left: 0px
}

.slick-next {
  right: 0px
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: black;
  background: white;
  opacity: 0.75;
}

.slick-prev,
.slick-next {
  border-radius: 50% !important;
  background: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  z-index: 2;
  color: black;
  opacity: 0.5;
}

.float-sub-menu {
  z-index: 99
}

.infowindow .row {
  margin: 0
}

.ck-progress-bar {
  height: 100% !important;
  width: 100% !important;
  background: white !important;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

figure.image,
.ck-content .image {
  margin-bottom: 1em !important
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 0.5;
  }
}

.row.block.no-gutters.align-items-stretch {
  margin: 0
}

@media(min-width: 992px) {
  .row.block.no-gutters.align-items-stretch {
    background: $bg_well;
    border-radius: 0.25rem;
  }
}

.search.well {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

@media(min-width: 992px) {
  .search.well {
    padding-top: 1.0875rem;
    padding-bottom: 0;
  }
}

.search.well .checkbox-inline {
  cursor: auto;
  background-color: white;
  padding: 0.3rem;
  padding-bottom: 0.2rem;
  border-radius: 0.25rem
}

.search.well .checkbox-inline label {
  cursor: pointer
}

.search.well .checkbox-inline.checked {
  border: 1px solid $color_primary;
}

@media(min-width: 576px) {
  .search.well input[type=submit] {
    margin: 0 !important
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.flicker {
  animation: flickerAnimation 2s infinite;
}

.sponsored {
  text-decoration: none !important;
}

.page-sidebar-minified #git-badge {
  display: none
}

a.home-feedback {
  color: $body_text;
  text-decoration: none;
}


.ck-content .image-style-align-left,
.image-style-align-left {
  float: none !important;
  margin-right: auto !important;
  text-align: left !important;
}

.ck-content .image-style-align-right,
.image-style-align-right {
  float: none !important;
  margin-left: auto !important;
  text-align: right !important;
}

.ck-content .image-style-align-center,
.image-style-align-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}


.input-group-text {
  padding: 0.375rem 0.5rem
}

#donation-percent-buttons .btn {
  padding: 0.375rem 0.5rem
}

p.action {
  text-align: center
}

p.action a {
  display: inline-block;
  background: $color_primary !important;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px
}

p.action a:hover {
  background: $color_primary_hover !important;
}

figure th,
figure td {
  width: 50%;
  padding-right: 8px;
  padding-bottom: 8px
}

figure th,
figure td {
  border: 0 !important;
}

.ck-editor th,
.ck-editor td {
  border: 1px solid #bfbfbf !important;
}

.embed-responsive-ps::before {
  padding-top: 52.5%;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
  }
}

@media(min-width: 576px) {

  form.searchForm input,
  form.searchForm select {
    max-width: 12em
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bi-spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

.icon-list {
  list-style-type: none;
  padding-left: 0;
}

.icon-list>li {
  position: relative;
  padding-left: 2em;
}

.icon-list>li>.bi {
  position: absolute;
  left: 0;
  top: 0;
}

@media(max-width: 767px) {
  .nav-wrapper .nav-tabs {
    border-bottom: 0;
    flex-wrap: nowrap;
  }

  .nav-wrapper .nav-link {
    white-space: nowrap;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .nav-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .nav-wrapper::-webkit-scrollbar {
    height: 6px;
    display: block;
  }

  .nav-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .nav-wrapper::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
  }
}

.sidebar .nav li.has-sub .sub-menu>li>a {
  padding-bottom: 0.3125rem;
}

@media(max-width: 767px) {
  .sidebar .nav li>a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.average-rating {
  font-size: 2em;
}

input[type="checkbox"] {
  accent-color: #29A95B;
}

label.remove-file,
label.remove-image {
  margin-top: 0.3125rem;
  font-weight: normal
}

label.remove-file input,
label.remove-image input {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.input-group {
  flex-wrap: nowrap;
}

.email-preview-iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  height: 80vh;
}

.email-preview-iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.search-result-list>li {
  border-top: 0;
  border-bottom: 2px solid #ddd
}