body {
  background-color: #f2f2f2
}

table {
  width: 100%;
  border-collapse: collapse
}

th {
  text-align: left
}

td {
  vertical-align: top
}

.tagline {
  display: none;
  font-size: 1px;
  color: #f2f2f2;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.main {
  background: white;
  padding: 16px;
  margin: 0 16px;
  border: 1px solid #eaeaea;
  border-radius: 4px
}

.footer {
  padding: 16px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.footer a {
  color: #333;
  text-decoration: none;
}

body,
p,
ul,
ol,
input,
select,
.form-control,
blockquote {
  font-family: 'Roboto', sans-serif;
  font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6,
.h {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

a {
  color: #00B963;
  text-decoration: none
}

a:hover {
  color: #2BA457;
  text-decoration: underline
}

img {
  max-width: 100%;
  margin-bottom: 1rem;
}

figcaption {
  font-size: 0.75rem;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

figure+figure>img,
figure+figure>a>img {
  margin-bottom: 8px !important;
}

table img {
  margin-bottom: 0 !important
}

blockquote {
  margin-bottom: 1rem;
  font-size: 1rem;
  border-left: 0.25rem solid rgba(0, 185, 99, 0.33);
  padding-left: 1rem;
  font-style: italic;
  margin-left: 0;
}

p {
  margin-top: 0
}

blockquote p {
  margin: 0
}

.password {
  font-size: 200%;
  font-weight: bold;
}

.preview {
  padding: 16px;
  text-align: center;
}

p.lead {
  font-size: 1.25rem;
}

p.action {
  text-align: center
}

p.action a {
  display: inline-block;
  background: #00B963;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px
}

p.action a:hover {
  background: #2BA457 !important;
}

hr {
  border: 1px solid #ddd
}

a.attachment {
  background: white;
  padding: 16px;
  margin: 0 16px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  text-decoration: none;
  display: block;
}

figure {
  margin: 0
}

pre {
  padding: 1em;
  color: #353535;
  background: #eee;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px;
}

.ck-content .image-style-align-left,
.image-style-align-left {
  float: none !important;
  margin-right: auto !important;
  text-align: left !important;
}

.ck-content .image-style-align-right,
.image-style-align-right {
  float: none !important;
  margin-left: auto !important;
  text-align: right !important;
}

.ck-content .image-style-align-center,
.image-style-align-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}