@import "variables";
@import "event_details";

.event-details {
  margin-top: 20px;
  margin-bottom: 20px
}

.event-detail.calendar-date .month {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  background-color: $color_primary_transparent_3;
  border-bottom: 2px solid $color_primary_transparent_5;
}

.event-detail.calendar-date .day {
  display: block;
  font-size: 15px;
}

.font-weight-normal {
  font-weight: normal
}

.pr-2 {
  padding-right: 8px;
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

p.action a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px
}

table {
  width: 100%;
  border-collapse: collapse
}

th {
  text-align: left
}

td {
  vertical-align: top
}

.tagline {
  display: none;
  font-size: 1px;
  color: #f2f2f2;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}

@media(min-width: 768px) {
  .container {
    max-width: 650px;
    margin: 0 auto;
  }
}

.main {
  padding: 16px;
  margin: 0 16px;
}

.footer {
  padding: 16px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.footer a {
  color: #333;
  text-decoration: none;
}

body,
p,
ul,
ol,
input,
select,
.form-control,
blockquote {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.45;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

img {
  max-width: 100%;
  margin-bottom: 1rem;
}

div.image>span {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

table img {
  margin-bottom: 0 !important
}

blockquote {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding-left: 1rem;
  font-style: italic;
  margin-left: 0;
}

p {
  margin-top: 0
}

blockquote p {
  margin: 0
}

.password {
  font-size: 200%;
  font-weight: bold;
}

.preview {
  padding: 16px;
  text-align: center;
}

p.lead {
  font-size: 1.25rem;
}

p.action {
  text-align: center
}

hr {
  border: 1px solid #eee;
  margin-bottom: 1rem;
}

a.attachment {
  padding: 16px;
  margin: 0 16px;
  margin-top: 16px;
  border: 2px solid #eee;
  border-radius: 4px;
  text-decoration: none;
  display: block;
}

pre {
  padding: 1em;
  color: #353535;
  background: #eee;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px;
}

.ck-content .image-style-align-left,
.image-style-align-left {
  float: none !important;
  margin-right: auto !important;
  text-align: left !important;
}

.ck-content .image-style-align-right,
.image-style-align-right {
  float: none !important;
  margin-left: auto !important;
  text-align: right !important;
}

.ck-content .image-style-align-center,
.image-style-align-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.text-muted {
  color: #999;
}

.text-dark {
  color: #333;
}