
.share-buttons .facebook .button { background: #4966B7; padding: 2px 4px; color: white; border-radius: 4px; font-size: 13px; margin-right: 1px }
.share-buttons .facebook .button:hover { text-decoration:none; background: #3E5BAA }
.share-buttons .facebook .button:active { color: white; }
.share-buttons .facebook .button:focus { color: white; }

.share-buttons .twitter .button { background: #E8E8E8; padding: 1px 3px; border: 1px solid #ddd; color: black; border-radius: 4px; font-size: 13px; margin-right: 1px }
.share-buttons .twitter .button i { color: #55ACEE }
.share-buttons .twitter .button:hover { text-decoration:none; background: #ddd }
.share-buttons .twitter .button:active { color: white; }
.share-buttons .twitter .button:focus { color: white; }

.share-buttons .count { font-family: arial,sans-serif; font-size: 12px; background-color: #FFFFFF; border: 1px solid #CDD5E5; height: 14px; margin-left: 3px; padding: 1px 2px; position: relative; }
.share-buttons .count i, .share-buttons .count u { border-color: transparent #ccc transparent transparent; border-style: solid; border-width: 4px 5px 4px 0; display: block; height: 1px; position: absolute; top: 4px; left: -5px; }
.share-buttons .count i { border-right-color: white; left: -3px; z-index: 1; }      
.share-buttons .count, .share-buttons .count a { color: black }

.share-big a { display:block; text-decoration: none; color: white; border-radius: 5px; padding: 10px; margin-bottom: 10px }
.share-big .facebook { background: #4966B7;  box-shadow: 1px 1px 1px #4966B7;  }
.share-big .facebook:hover { background: #3E5BAA; box-shadow: 1px 1px 1px #3E5BAA; color: white; text-decoration: none; }
.share-big .facebook:active { color: white }
.share-big .facebook:focus { color: white }
.share-big .twitter {  background: #55ACEE; box-shadow: 1px 1px 1px #55ACEE }
.share-big .twitter:hover { background: #3CAEFF; box-shadow: 1px 1px 1px #3CAEFF; color: white; text-decoration: none; }
.share-big .twitter:active { color: white }
.share-big .twitter:focus { color: white }
@media(min-width: 768px) {
  .share-big a { display:inline-block; margin-bottom: 0 }
  .share-big .facebook { margin-right: 10px }
}