<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>Welcome to Dandelion! %recipient.confirm_or_activate%</p>
  <p>
    <a href="<%= ENV['BASE_URI'] %>/confirm_email/%recipient.token%"><%= ENV['BASE_URI'] %>/confirm_email/%recipient.token%</a>
  </p>
</div>
<div class="footer"></div>
