<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>Welcome to Dandelion, created by the not-for-profit worker co-operative Dandelion Collective.</p>
  <p>Click here to confirm your email address:</p>
  <p>
    <a href="<%= ENV['BASE_URI'] %>/confirm_email/%recipient.token%"><%= ENV['BASE_URI'] %>/confirm_email/%recipient.token%</a>
  </p>
</div>
<div class="footer"></div>
