<div class="main">
  <p style="margin-bottom: 0"><%= destroyed_by.name %> deleted the event <%= event.name %>, <%= event.when_details(nil) %>.</p>
</div>
<div class="footer">
  <a href="<%= ENV['BASE_URI'] %>">Sent with Dandelion</a>
</div>
