<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>
    There's a new AI-generated summary of the feedback on the events you've facilitated:
  </p>
  <p>
    <blockquote>
      <%= account.feedback_summary %>
    </blockquote>
  </p>
  <p>
    It's visible on your <a href="<%= ENV['BASE_URI'] %>/u/<%=account.username%>#feedback">profile page</a>
    and in the <a href="<%= ENV['BASE_URI'] %>/facilitators">facilitators directory</a>.
    It'll be updated every few months.
  </p>
  <p>
    If you have any questions, feel free to reply to this email.
  </p>
  <p>
    Best wishes,<br>
    Dandelion
  </p>
</div>
