<div class="main">
  <p>
    <%= organisationship.account.name %> (<%= organisationship.account.email %>)
    is no longer donating
    to <%= organisation.name %>.
  </p>
</div>
<div class="footer">
  <a href="<%= ENV['BASE_URI'] %>">Sent with Dandelion</a>
</div>
