<div class="main">

  <h2>
    <span class="text-muted font-weight-normal">
      Reminder about
    </span>
    <br />
    <%= event.name %>
  </h2>

  <hr />

  <%= tickets_table %>

  <hr />

  <%= EmailHelper.replace_youtube_oembeds(
        EmailFields.replace_magic_tags(
          event.reminder_email_body || event.organisation.reminder_email_body,
          event: event,
          recipient_variables: true
        )
      ) %>

  <% if defined?(include_cancel_rsvp) && include_cancel_rsvp %>
    <p>
      <a href="%recipient.cancel_rsvp_url%">Cancel your RSVP</a> if you can no longer make it (you may need to request a sign in link).
    </p>
  <% end %>

</div>
<div class="footer">
  <a href="<%= ENV['BASE_URI'] %>/accounts/subscriptions?sign_in_token=%recipient.token%">Opt out of reminders</a>
</div>
