<div class="main">
  <p>Hi %recipient.firstname%,</p>
  <p>Someone (hopefully you) requested a sign in code for Dandelion:</p>
  <p>
    %recipient.token%
  </p>
  <p>Best wishes,<br>
    The Dandelion team</p>
</div>
