<p>Dear %recipient.firstname%,</p>

<p>As someone who has used Dandelion several times in the past year to buy tickets to events such as <%=events.map(&:name).to_sentence%>, I thought you'd like to know that Dandelion is starting a new Substack newsletter 🗞</p>

<p>There we'll be sharing our favourite events, new platform features, tips on how to get the most out of Dandelion and much more. <a href="<%=ENV['BASE_URI']%>/substack_opt_in?sign_in_token=%recipient.token%">Click here to opt in to the first edition.</a></p>

<p>Best wishes,<br />
  Stephen Reid<br />
  Founder and lead developer, Dandelion</p>

<div class="footer">
  <a href="<%= ENV['BASE_URI'] %>/accounts/subscriptions?sign_in_token=%recipient.token%">Manage your subscriptions</a>
</div>
