<div class="row" id="activities">
  <% activities.each { |activity| %>
  <div class="col-6 col-sm-3 mb-3 <%= block_class if defined?(block_class) %>" id="<%= activity.id %>">
    <%= partial :'activities/block', locals: { activity: activity } %>
  </div>
  <% } %>
</div>
