<% if activity.persisted? && activity_admin?(activity) %>
  <% unless defined?(inline) %>
    <%== '<div class="mb-3">' %>
  <% end %>
  <% if organisation_admin?(activity.organisation) && !defined?(hide_organisation_nav) %>
    <%= partial :'organisations/nav', locals: { organisation: activity.organisation, inline: true } %>
  <% end %>
  <%= dropdown_nav [
        ['View activity', "/activities/#{activity.id}"],
        ['Settings', "/activities/#{activity.id}/edit"],
        (['Preview application form', "/activities/#{activity.id}/apply"] if activity.privacy == 'closed'),
        ([%(Applications <span class="badge badge-primary">#{activity.activity_applications.outstanding.count}</span>), "/activities/#{activity.id}/applications"] if activity.privacy == 'closed'),
        [%(Followers <span class="badge badge-primary">#{activity.activityships.count}</span>), "/activities/#{activity.id}/followers"],
        ['Discount codes' + (activity.discount_codes.count.positive? ? " <span class='badge badge-primary'>#{activity.discount_codes.count}</span>" : ''), "/activities/#{activity.id}/discount_codes"],
        ['Event stats', "/activities/#{activity.id}/events/stats"],
        ['Audience stats', "/activities/#{activity.id}/stats"],
        ['Feedback', "/activities/#{activity.id}/feedback"],
        ['Mailer', "/activities/#{activity.id}/pmails"]
      ].compact, button_text: %(#{activity.name} <i class="bi bi-caret-down-fill"></i>), container_class: 'btn-group mb-1' %>
  <% unless defined?(inline) %>
    <%== '</div>' %>
  <% end %>
<% end %>
