<% if activityship.subscribed_discussion %>
  <a href="/activities/<%= activityship.activity_id %>/unsubscribe_discussion" class="pagelet-trigger btn btn-primary mb-1">Email notifications on <i class="fa fa-envelope"></i></a>
<% else %>
  <a href="/activities/<%= activityship.activity_id %>/set_subscribe_discussion" class="pagelet-trigger btn btn-outline-primary mb-1">Email notifications off</a>
<% end %>
