<%= partial :'activities/nav', locals: { activity: @activity } %>

<%= partial :stats, locals: { memberships: @activity.activityships, accounts: @activity.members } %>

<h2>Locations</h2>
<%= partial :'maps/map', locals: { url: "/map?activity_id=#{@activity.id}" } %>
