<%= partial :'activities/nav', locals: { activity: @activity } %>

<%= partial :stats, locals: { accounts: @activity.members } %>

<h2>Locations</h2>
<div data-pagelet-url="/map?activity_id=<%= @activity.id %>&admin=1">
  <%= partial :'maps/map', locals: { dynamic: true, trigger_bounds_changed: true } %>
</div>
