<%= partial :'activities/nav', locals: { activity: @activity } %>

<%= partial :stats, locals: { memberships: @activity.activityships, accounts: @activity.members } %>

<h2>Locations</h2>
<%= partial :'maps/map', locals: { stem: "/map?activity_id=#{@activity.id}&admin=1", dynamic: true, trigger_bounds_changed: true } %>
