<div class="row" id="pmails">
  <% 5.times do %>
    <div class="col-12">
      <div class="block">
        <h4 class="block-title flicker" style="width: 50%; background: rgba(0,0,0,0.1)">&nbsp;</h4>
      </div>
      <hr class="my-3">
    </div>
  <% end %>
</div>
