<% if @organisation %>
  <script>
    $(function () {
        <% if @pmail.event %>
        $('#exclude-event-btn').click()
        <% end %>
        <% if @pmail.activity %>
        $('#exclude-activity-btn').click()
        <% end %>
        <% if @pmail.local_group %>
        $('#exclude-local-group-btn').click()
        <% end %>
    })
  </script>
  <div>
    <a id="exclude-event-btn" class="mb-3" href="javascript:;" style="display: inline-block" onclick="$(this).hide().next().show();
                    $(this).next().next().hide()">
      <small>Exclude people attending an event</small>
    </a>
    <div id="exclude-event" style="display: none">
      <%= f.lookup_block :event_id, lookup_url: "/o/#{@organisation.id}/events/lookup.json", placeholder: 'Search events' %>
    </div>
    <span class="exclude-separator">&middot;</span>
    <a id="exclude-activity-btn" class="mb-3" href="javascript:;" style="display: inline-block" onclick="$(this).hide().next().show();
            $(this).next().next().hide();$(this).prev().hide()">
      <small>Exclude people attending upcoming events in an activity</small>
    </a>
    <div id="exclude-activity" style="display: none">
      <%= f.lookup_block :activity_id, lookup_url: "/o/#{@organisation.id}/activities.json", placeholder: 'Search activities' %>
    </div>
    <span class="exclude-separator">&middot;</span>
    <a id="exclude-local-group-btn" class="mb-3" href="javascript:;" style="display: inline-block" onclick="$(this).hide().next().show();
        $(this).prev().hide()">
      <small>Exclude people in a local group</small>
    </a>
    <div id="exclude-local-group" style="display: none">
      <%= f.lookup_block :local_group_id, lookup_url: "/o/#{@organisation.id}/local_groups.json", placeholder: 'Search local groups' %>
    </div>
  </div>
<% end %>