<p class="lead">
  Dandelion is an open-source platform for <strong>regenerative events</strong> and <strong>co-created gatherings</strong> created by the not-for-profit worker co-operative <a href="https://symbiota.coop/">Symbiota</a>.
  <% unless request.path == '/donate' %>We operate on a donation/gift economy basis.<% end %>
</p>
