<p class="lead">
  Dandelion is an open-source platform for <strong>ticketed events</strong> and <strong>co-created gatherings</strong> created by the not-for-profit worker co-operative <a href="https://dandelion.coop/">Dandelion Collective</a>.
  We operate on a donation/gift economy basis.
</p>
