<div class="container">
  <div class="row">
    <div class="col-lg-9 readable">

      <% if @events.exists? %>

        <% 
prompt = "The user searched for '#{@q}'.

#{Stash.find_by(key: 'vector_search').try(:value) || 'These are the top results from a vector search.'}

#{@events.map(&:to_public_xml).join("\n\n")}"

ai_response = OpenRouter.chat(prompt)
%>

        <% if ai_response %>
          <%== md(ai_response, hard_wrap: true) %>
        <% else %>
          <p>Hmm, we're having trouble generating an AI summary right now.</p>
        <% end %>
      <% else %>
        <p>We didn't find any good matches for your query. Please try again.</p>
      <% end %>
    </div>
    <div class="col-lg-3" style="margin-top: -0.25rem;">
      <% @events.each do |event| next unless event.image %>
      <%= partial :'events/block_carousel', locals: {event: event} %>
    <% end %>
  </div>
</div>
</div>