<div class="row justify-content-center align-items-center">
  <div class="col-4">
    <div class="mb-3 p-4">
      <img src="/images/gift.png" class="w-100" style="aspect-ratio: 339/385;">
    </div>
  </div>
  <div class="col-4">
    <div class="m-3 p-1 rounded-circle">
      <img src="/images/coop.png" class="w-100" style="aspect-ratio: 115/116;">
    </div>
  </div>
  <div class="col-4">
    <div class="mb-3 p-4">
      <img src="/images/opendata.png" class="w-100" style="aspect-ratio: 1/1;">
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <div class="col-4">
    <p class="text-center">
      <a href="/docs/events#fees-and-payouts">No platform fees</a>:
      we seek to inspire a culture of gifting
    </p>
  </div>
  <div class="col-4">
    <p class="text-center">
      Made by a <a href="https://symbiota.coop/">not-for-profit<br />
        worker&nbsp;co-operative</a>
    </p>
  </div>
  <div class="col-4">
    <p class="text-center">
      <a target="_blank" href="https://github.com/symbiota-coop/dandelion">Open&nbsp;source</a>
      and  
      <a target="_blank" href="https://www.atproto-browser.dev/at/did:plc:l4fwwgqgc5gdvtebisdumf4x">open&nbsp;data</a> on&nbsp;ATProto
    </p>
  </div>
</div>
