<script>
  $(function() {
    var c = new countUp.CountUp('events-count',
      <%=@events.count%>
    );
    c.start();
  })
</script>
<h2 class="text-center mt-4 mb-3">
  <span id="events-count">0</span> upcoming events
</h2>
