<div class="card shadow-sm mb-3">
  <h3 class="card-header chill">Give us feedback on Dandelion</h3>
  <div class="card-body">
    <% if @sent %>
      <div class="alert alert-success">Thank you for your feedback!</div>
    <% else %>
      <% form_tag '/feedback' do %>
        <div class="form-group">
          <%= text_area_tag :feedback, id: 'feedback-textarea', class: 'form-control', rows: 2, placeholder: 'Send your thoughts, praise, suggestions or report an issue', required: true %>
        </div>
        <%= submit_tag 'Send feedback', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  $(function() {
    autosize($('#feedback-textarea')[0]);
  });
</script>
