<div class="nav-wrapper mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if request.path.start_with?('/books') %>" href="/books">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if request.path.start_with?('/films') %>" href="/films">Films</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if request.path.start_with?('/treasure-map') %>" href="/treasure-map">Treasure Map</a>
    </li>
  </ul>
</div>
