<style>
  #docs-li { display: none }
  @media(min-width: 992px) { #docs-li { display: list-item } }
</style>
<ul class="nav navbar-nav navbar-right">
  <% if current_account %>
    <li>
      <a href="javascript:;" data-toggle="search-bar" class="navbar-icon">
        <i class="bi bi-search"></i>
      </a>
    </li>
    <li class="dropdown">
      <a id="notifications-a" href="javascript:;" data-toggle="dropdown" class="dropdown-toggle navbar-icon" onclick="$(this).removeClass('with-label');
          $.post('/checked_notifications')">
        <i class="bi bi-bell"></i>
      </a>
      <style>
        #notifications .bi-spin { display: none }
      </style>
      <div id="notifications" data-pagelet-url="/notifications" data-pagelet-refresh="60"></div>
    </li>
    <li class="dropdown">
      <a id="messages-a" href="javascript:;" data-toggle="dropdown" class="dropdown-toggle navbar-icon" onclick="$(this).removeClass('with-label');
          $.post('/checked_messages')">
        <i class="bi bi-chat-left"></i>
      </a>
      <style>
        #messages .bi-spin { display: none }
      </style>
      <div id="messages" data-pagelet-url="/messages" data-pagelet-refresh="60">
        <%= cp(:'messages/dropdown', key: "/messages?account_id=#{current_account.id}", expires: 1.minute.from_now) %>
      </div>
    </li>
    <li class="d-none d-md-inline dropdown">
      <a href="javascript:;" data-toggle="dropdown">
        <span class="navbar-user-img online pull-left">
          <img src="<%= u current_account.image_thumb_or_gravatar_url %>">
        </span>
        <span class="hidden-xs "><%= current_account.name %> <b class="caret"></b></span>
      </a>
      <%= partial :nav_profile, locals: { ul_class: 'dropdown-menu' } %>
    </li>
  <% else %>
    <li>
      <a href="javascript:;" data-toggle="search-bar" class="navbar-icon">
        <i class="bi bi-search"></i>
      </a>
    </li>
    <li>
      <a href="/accounts/new">
        Sign up
      </a>
    </li>
    <li>
      <a href="/accounts/sign_in">
        Sign in
      </a>
    </li>
  <% end %>
</ul>
