<% {
     'https://cdnjs.cloudflare.com/ajax/libs/' => {
       'cytoscape/3.9.4' => 'cytoscape.min.js'
     },
     'https://rawcdn.githack.com/' => {
       'tgdwyer/WebCola/aab7e61cd9580c4c89180cc0a30594e12743a242/WebCola' => 'cola.min.js',
       'cytoscape/cytoscape.js-cola/8c78f9d5c11ff6162b7d902f0639e1f787277b9f' => 'cytoscape-cola.js'
     }
   }.each do |base_url, libs| %>
  <% libs.each do |path, files| %>
    <% files.split(' ').each do |f| %>
      <% url = "#{base_url}#{path}/#{f}" %>
      <script src="<%= url %>"></script>
    <% end %>
  <% end %>
<% end %>

<script>
  var elements = <%== elements %>;
  var tapHandler = function() { <%== tap_handler %> };

  function drawNetwork() {
    var cy = cytoscape({
      container: $('#cy'),
      elements: elements,
      style: [
        {
          selector: 'node',
          style: {
            'color': '#212529',
            'background-color': 'data(color)',
            'opacity': 0.85,
            'label': 'data(name)',
            'width': 'data(width)',
            'height': 'data(width)'
          }
        },
        {
          selector: 'edge',
          style: {
            'opacity': 'data(opacity)',
            'line-color': 'data(color)',
          }
        }
      ],
      layout: {
        name: 'cola',
        nodeSpacing: function(node) { return 40; },
      }
    });
    cy.minZoom(0.5);
    cy.on('tap', 'node', tapHandler);
  }

  $(function() {
    drawNetwork();
    $(window).one('focus', function() { drawNetwork(); });
  });
</script>
<div id="cy" style="height: 600px"></div>
