<style>
  #payment-methods img { filter: grayscale(100%); }
  #payment-methods img:hover { filter: none; opacity: 1 !important }
  #payment-methods img.stripe { opacity: 0.5; }
  #payment-methods img.opencollective { opacity: 0.5; }
  #payment-methods img.gocardless { opacity: 0.33; }
</style>
<% PaymentMethod.all.select(&:logo).each do |pm| %>
  <div class="col">
    <a href="<%= pm.url %>"><img class="<%= pm.name %> w-100" src="/images/payment_methods/<%= pm.logo %>" /></a>
  </div>
<% end %>
