<script>
  $(function() {
    var c = new countUp.CountUp('ticket-count',
      <%=Ticket.count%>
    );
    c.start();
    var c = new countUp.CountUp('worth-count',
      <%=
      m = Money.new(0,'GBP')
      Order.and(:value.ne => nil, :currency.in => FIAT_CURRENCIES).each { |o| begin; m += Money.new(o.value*100, o.currency); rescue; end }
      Float("%.3g" % m).to_i
      %>
    );
    c.start();
  })
</script>
<img src="/images/tickets.png" style="height: 50px">
<span class="d-sm-none">
  <br />
</span>
<span id="ticket-count" style="text-decoration: underline">0</span> tickets
worth
£<span id="worth-count" style="text-decoration: underline">0</span>+
sold
