<script>
  $(function() {
    var c = new countUp.CountUp('ticket-count',
      <%=Ticket.count%>
    );
    c.start();
    var c = new countUp.CountUp('worth-count',
      <%= Float("%.3g" % Order.and(:value.ne => nil, :currency.in => MAJOR_CURRENCIES).sum { |o| Money.new(o.value*100, o.currency) }).to_i%>
    );
    c.start();
  })
</script>
<span id="ticket-count">0</span> tickets
worth
£<span id="worth-count">0</span>+
sold
