<script>
  $(function() {
    var c = new countUp.CountUp('ticket-count',
      <%=Ticket.count%>
    );
    c.start();
    var c = new countUp.CountUp('worth-count',
      <%= Float("%.3g" % Order.all.sum { |o| (o.value && FIAT_CURRENCIES.include?(o.currency)) ? Money.new(o.value*100, o.currency) : 0 }).to_i%>
    );
    c.start();
  })
</script>
<h2 class="text-center mt-4 mb-3">
  <span id="ticket-count">0</span> tickets
  worth
  £<span id="worth-count">0</span>+
  sold via Dandelion
</h2>
