<h2 class="mb-3">Birthdays <i class="fa fa-birthday-cake"></i></h1>
<ul class="search-result-list mb-3">
  <% @account_ids.each { |account_id| account = Account.find(account_id) %>
  <li>
    <%= partial 'accounts/search_result', locals: { account: account, birthday: true } %>
  </li>
  <% } %>
</ul>
<%= will_paginate @account_ids, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
