<div class="row justify-content-between">
  <div class="col-auto">
    <h2 class="mb-3">Birthdays <i class="bi bi-cake2-fill"></i></h1>
  </div>
  <div class="col-auto">
    <a data-toggle="tooltip" title="iCal feed" style="font-size: 1rem" class="text-primary mt-2 mt-sm-0 ml-sm-3" id="ical" target="_blank" href="/birthdays.ics?api_key=<%=current_account.api_key%>">
      <i class="bi bi-rss-fill"></i>
    </a>
  </div>
</div>
<% accounts_by_id = Account.and(:id.in => @account_ids).index_by { |a| a.id.to_s } %>
<ul class="search-result-list mb-3">
  <% @account_ids.each { |account_id| account = accounts_by_id[account_id.to_s]; next unless account %>
  <li>
    <%= partial 'accounts/search_result', locals: { account: account, birthday: true } %>
  </li>
  <% } %>
</ul>
<%= will_paginate @account_ids, page_links: false, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
