<div class="row justify-content-between">
  <div class="col-auto">
    <h2 class="mb-3">Birthdays <i class="bi bi-cake2-fill"></i></h1>
  </div>
  <div class="col-auto">
    <a class="mt-2 mt-sm-0 ml-sm-3 badge badge-primary" style="font-weight: 500" id="ical" target="_blank" data-toggle="tooltip" href="/birthdays.ics?api_key=<%=current_account.api_key%>">
      iCal <i class="bi bi-box-arrow-up-right"></i>
    </a>
  </div>
</div>
<ul class="search-result-list mb-3">
  <% @account_ids.each { |account_id| account = Account.find(account_id) %>
  <li>
    <%= partial 'accounts/search_result', locals: { account: account, birthday: true } %>
  </li>
  <% } %>
</ul>
<%= will_paginate @account_ids, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
