<%= partial :about %>
<h2 class="mb-3">Contact us</h2>
<p>
  Dandelion is a ticketing platform that hosts events from many different organisations.
</p>
<p>
  <strong><mark>If your question relates to a specific event</mark></strong>, please contact the event organiser.<br>
  <strong><mark>If your question relates to a specific organisation</mark></strong>, please contact the organisation.<br>
  <strong><mark>For example, if your question relates to the Psychedelic Society</mark></strong>, please contact <a href="mailto:enquiries@psychedelicsociety.org.uk">enquiries@psychedelicsociety.org.uk</a><br>
</p>
<p>
  <strong>If you have a question related to the Dandelion platform</strong> (for example, you require technical assistance),
  you are welcome to email us at <a href="mailto:contact@dandelion.earth">contact@dandelion.earth</a>
</p>
<p>
  <a href="/privacy">Read our privacy policy</a>
  <br />
  <a href="/cookies">Read our cookie policy</a>
</p>
<p>
  <em>Made with <i class="fa fa-heart"></i> by a not-for-profit worker co-op in Totnes, Devon, UK</em>
</p>
