<div style="font-size: 120%">
  <h2 class="mb-3">Contact us</h2>
  <div class="row">
    <div class="col-12 col-lg-7">
      <p>
        Dandelion is a platform that hosts events and gatherings from many different organisations.
      </p>
      <p>
        <strong><mark class="px-0">If your question relates to a specific event</mark></strong>, please contact the event organiser.<br>
        <strong><mark class="px-0">If your question relates to a specific organisation</mark></strong>, please contact the organisation.<br>
        <strong><mark class="px-0">For example, if your question relates to the Psychedelic Society</mark></strong>, please contact <a href="mailto:enquiries@psychedelicsociety.org.uk">enquiries@psychedelicsociety.org.uk</a><br>
      </p>
      <p>
        <strong>If you have a question related to the Dandelion platform</strong> (for example, you require technical assistance),
        you are welcome to email us at <a href="mailto:<%=ENV['CONTACT_EMAIL']%>"><%=ENV['CONTACT_EMAIL']%></a> or <a href="https://t.me/+R7KW5DZWA-w0NWU0">ask in our Telegram group</a>.
      </p>
      <p>
        <a href="/privacy">Read our privacy policy</a>
        <br />
        <a href="/cookies">Read our cookie policy</a> &middot; <a href="#"
      onclick="window.displayPreferenceModal();return false;"
      id="termly-consent-preferences">Cookie preferences</a>
      </p>
      <p>
        <em>Made with <i class="fa fa-heart"></i> by a not-for-profit worker co-op in Totnes, Devon, UK</em>
      </p>
    </div>
    <div class="col-12 col-lg-5">
      <a target="_blank" href="https://stephenreid.net"><img class="w-100" src="https://stephenreid.net/images/brave%20earth/1.jpg"></a>
      <p style="font-size: 85%">Lead developer and project steward, <a href="https://stephenreid.net">Stephen Reid</a></p>
    </div>
  </div>
</div>
