<div style="font-size: 120%">
  <h2 class="mb-3">Contact us</h2>
  <div class="row">
    <div class="col-12 col-lg-7">
      <p>
        Dandelion is a platform that hosts events and gatherings from many different organisations.
      </p>
      <p>
        <strong><mark class="px-0">If your question relates to a specific event</mark></strong>, please contact the event organiser.<br>
        <strong><mark class="px-0">If your question relates to a specific organisation</mark></strong>, please contact the organisation.<br>
        <strong><mark class="px-0">For example, if your question relates to the Psychedelic Society</mark></strong>, please contact <a href="mailto:enquiries@psychedelicsociety.org.uk">enquiries@psychedelicsociety.org.uk</a><br>
      </p>
      <p>
        <strong>If you have a question related to the Dandelion platform</strong> (for example, you require technical assistance),
        you are welcome to email us at <a href="mailto:<%=ENV['CONTACT_EMAIL']%>"><%=ENV['CONTACT_EMAIL']%></a> or <a href="https://t.me/stephenreid321">ask us on Telegram</a>.
      </p>
      <p>
        <a href="/terms">Read our terms and conditions</a>
        <br />
        <a href="/privacy">Read our privacy policy</a>
        <br />
        <a href="/cookies">Read our cookie policy</a>
        <br />
        <a href="#" class="termly-display-preferences">Consent preferences</a>
      </p>

      <h2>Request a feature</h2>

      <p>
        <a data-nolt="modal" href="https://dandelion.nolt.io">
          Check out our feedback board on Nolt to suggest and upvote features.
        </a>
      </p>

      <h2>Connect with us</h2>

      <p>
        <a href="https://www.youtube.com/@dandelion.events.321" target="_blank">
          <i class="bi bi-youtube"></i>
          <span class="nav-link-text">YouTube</span>
        </a>
        <span class="mx-1">&middot;</span>
        <a href="https://open.spotify.com/show/3pHYC5Zgh8jTFBBfd69LN7" target="_blank">
          <i class="bi bi-spotify"></i>
          <span class="nav-link-text">Spotify</span>
        </a>
        <span class="mx-1">&middot;</span>
        <a href="https://dandeliondotevents.substack.com/" target="_blank">
          <i class="bi bi-substack"></i>
          <span class="nav-link-text">Substack</span>
        </a>
        <span class="mx-1">&middot;</span>
        <a href="https://t.me/+bwQ-U4L1azs2ZTQ8" target="_blank">
          <i class="bi bi-telegram"></i>
          <span class="nav-link-text">Telegram</span>
        </a>
        <span class="mx-1">&middot;</span>
        <a href="https://github.com/symbiota-coop/dandelion" target="_blank">
          <i class="bi bi-github"></i>
          <span class="nav-link-text">Github</span>
        </a>
      </p>
    </div>
    <div class="col-12 col-lg-5">
      <a target="_blank" href="https://stephenreid.net"><img class="w-100" src="/images/team.jpg"></a>
      <p style="font-size: 85%" class="mt-1">
        <em>
          Made with</em> 💗 <em>by <a href="https://symbiota.coop">Symbiota</a>, a not-for-profit worker co-op, in Totnes, Devon, UK and Stockholm, Sweden          
        </em>
        🇬🇧 🇸🇪      
        <br />
        <em>
          Project lead: <a href="https://stephenreid.net">Stephen Reid</a>
        </em>

      </p>
    </div>
  </div>

</div>
