<%= partial :about %>
<div class="row justify-content-center">
  <% if current_account %>
    <div class="col-lg-8">
      <div class="card my-4">
        <div class="card-body p-4">
          <%= partial :'accounts/pay', locals: { account: current_account, force: true } %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-lg-6">
      <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/dandelion-1" name="donorbox" allowpaymentrequest="" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
    </div>
  <% end %>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6">
    <p class="mb-1">
      <strong>Donate via Gitcoin</strong>
    </p>
    <p>
      <a href="https://gitcoin.co/grants/564/dandelion"><img class="w-50" src="/images/gitcoin.png"></a>
    </p>
    <p class="mb-1">
      <strong>Donate via Giveth</strong>
    </p>
    <p>
      <a href="https://giveth.io/project/dandelion"><img class="w-50" src="/images/giveth.png"></a>
    </p>
    <p class="mb-0">
      <strong>Donate ETH or ERC-20 tokens</strong>
    </p>
    <p>
      0x84a57c709482d44ce49511adac7ed7f1db299455
    </p>
  </div>
</div>
