<%= partial :about %>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/dandelion-1" name="donorbox" allowpaymentrequest="" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-2">Donate ETH</dt>
      <dd class="col-sm-10">0x84a57c709482d44ce49511adac7ed7f1db299455</dd>
    </dl>
  </div>
</div>
