<% if params[:thanks] %>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card my-4">
        <div class="card-body p-4">
          <p class="lead mb-3">
            <mark class="px-0">Thank you so much for donating!</mark> 🎉
          </p>
          <% if ENV['OFFER_NFT'] %>
            <p class="lead">
              <small>
                Your <strong>uniquely-generated Dandelion Cityscape NFT</strong> has been delivered to a Crossmint account under your email address.
                Sign in to view/transfer it at <a href="https://www.crossmint.com/signin">crossmint.com</a>.
              </small>
            </p>
          <% end %>
          <p class="mb-0">
            You're welcome to <a target="_blank" href="https://dandelion.nolt.io/">make suggestions of how we can improve Dandelion on our Nolt board</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <% if account = (current_account || (params[:account_id] && Account.find(params[:account_id]))) %>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card my-4">
          <div class="card-body p-4">
            <%= partial :'accounts/pay', locals: { account: account, nft: true, force: true } %>
          </div>
        </div>
        <%= partial :badges %>
      </div>
    </div>
  <% else %>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <p class="lead">
          Dandelion operates on a donation/gift economy basis and
          we rely on the generosity of our users. Please chip in so we can remain free.
        </p>
        <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/dandelion-1" name="donorbox" allowpaymentrequest="" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
      </div>
    </div>
  <% end %>

<% end %>
