<div class="text-center">
  <h1>Uhoh! Something went wrong.</h1>
  <p class="lead">We've been notified and will get in touch when we have a fix.</p>
  <img style="max-width: 33vw" src="/images/error.png">
</div>
