<div class="text-center">
  <h1>Uhoh! Something went wrong.</h1>
  <p class="lead">We've been notified and are working on a fix.</p>
  <img style="max-width: 33vw" src="/images/error.png">
  <!-- HONEYBADGER FEEDBACK -->
</div>
