<div class="text-center">
  <h1>Uhoh! Something went wrong.</h1>
  <p class="lead">
    We apologise for the inconvenience.
    We'll be in touch as soon as we have a fix.
  </p>
  <img style="max-width: 20vw" class="mb-3"src="/images/error.png">
</div>
