<% if request.user_agent =~ /android/i %>
  <div id="a2hs" class="card mb-3" style="display: none">
    <div class="card-body text-center">
      <a id="a2hs-btn" class="btn btn-primary" href="javascript:;">Add Dandelion to your home screen</a>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <%= cp(:'organisations/carousel', key: "/organisations/carousel/#{current_account.id}") %>
    <% if params[:thanks] %>
      <div class="px-4 mb-5 pt-3">
        <p class="lead mb-1">
          <mark class="px-0">Thank you so much for donating!</mark> 🎉
        </p>
        <p class="lead mb-0">
          <small>
            You're welcome to <a target="_blank" href="https://dandelion.nolt.io/">make suggestions of how we can improve Dandelion on our Nolt board</a>.</p>
        </small>
      </p>
    </div>
  <% else %>
    <%= partial :'accounts/pay', locals: {div_class: 'px-4 mb-5 pt-3', account: current_account } %>
  <% end %>
  <div data-with-placeholder id="newsfeed" data-pagelet-url="/" data-pagelet-refresh="60" class="mt-1 mb-3">
    <% 15.times do %>
      <style>
        @keyframes flickerAnimation {
          0%   { opacity:1; }
          50%  { opacity:0.5; }
          100% { opacity:1; }
        }
        .flicker {
            animation: flickerAnimation 2s infinite;
        }
      </style>
      <div class="flicker" style="width: 75%; background: rgba(0,0,0,0.1)">&nbsp;</div>
      <hr class="my-3" style="border-top-color: rgba(0,0,0,0.1)">
    <% end %>
  </div>
</div>
<div class="col-lg-4">
  <div style="position: sticky; top: 3.75rem">
    <%= partial :'events/awesome' %>
    <% unless (provider_link = current_account.provider_links.find_by(provider: 'Ethereum')) %>
      <div class="card mt-3">
        <h3 class="card-header bg-primary text-white">Connect wallet</h3>
        <div class="card-body">
          <p>Connect your <a target="_blank" href="https://metamask.io/">wallet</a> to sign in with Ethereum</p>
          <a class="btn btn-primary" href="/auth/ethereum">Connect <i class="fab fa-ethereum"></i></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
