<style>
  #banner { margin-left: -0.9375rem; margin-right: -0.9375rem; }
  @media(min-width: 768px) { #banner { margin-left: -1.5625rem; margin-right: -1.5625rem; } }
</style>
<div id="banner" style="padding: 5vw 1.5625rem 5vw 1.5625rem; margin-top: -1.5625rem; background: url('/images/dandelion.jpg'); background-position: 50% 70%; background-size: cover">

  <style>
    @media(min-width: 768px) { #strapline { line-height: 130% } }
  </style>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <p id="strapline" style="font-size: 1.4rem; text-align: center;">
        <span class="d-md-inline-block" style="background: rgba(255,255,255,0.75)">
          Dandelion is a platform for <strong>ticketed events</strong> and <strong>co-created gatherings</strong>
          created by the
          <mark style="padding: 0; background: rgba(253,255,170,0.5)">not-for-profit worker co-operative</mark>
          <a href="https://dandelion.coop/">Dandelion Collective</a>.
        </span>
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto text-center">
      <a class="btn btn-primary btn-lg" href="/accounts/new">Join us</a>
      <a class="btn btn-primary btn-lg" href="/accounts/sign_in">Sign in</a>
      <br />
      <a class="btn btn-primary btn-lg mt-1" href="/auth/ethereum">Sign in with Ethereum</a>
    </div>
  </div>

</div>

<h2 class="text-center mt-4 mb-0 mb-sm-4"><%= pluralize(@events.count, 'upcoming event') %></h2>
<div data-pagelet-url="/events"></div>
<div class="my-3" data-pagelet-url="/map">
  <%= partial :'maps/map', locals: { dynamic: true, trigger_bounds_changed: true } %>
</div>
<h2 style="font-size: 1.7rem" class="mt-4 mb-3 text-center">Some of the places that are important to our community</h2>
<p class="mt-3 lead text-center" style="font-size: 18px">
  <%== Place.order('name_transliterated asc').each.map { |place| %(<a href="/places/#{place.id}">#{Sanitize.fragment(place.name)}</a>) }.join(' &middot; ') %>
</p>
