<div class="text-center">
  <h1>Hmm, we couldn't find that page.</h1>
  <p class="lead">Perhaps you'd like to try the <a href="/search">search</a>?</p>
  <img style="max-width: 33vw" src="/images/error.png">
</div>
