<%= partial :'places/blocks', locals: { places: places } %>
<div class="mt-3">
  <%= will_paginate places, param_name: 'places_page', inner_window: 0, outer_window: 0, renderer: WillPaginate::ViewHelpers::BootstrapRenderer %>
</div>
