<script>
  $(function() {
    $('#discord-link img').hover(function() {
      $(this).attr('src','/images/discord-chat-hover.png')
    }, function() {
      $(this).attr('src','/images/discord-chat.png')
    })
  })
</script>
<a id="discord-link" style="position: fixed; bottom: 5px; right: 5px;" target="_blank" href="https://discord.gg/sSEwD3Khjp">
  <img style="height: 40px" src="/images/discord-chat.png" />
</a>
