<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <style data-premailer="ignore">
      a {
        color: #00B963 !important;
        text-decoration: none;
      }

      a:hover {
        color: #00B963 !important;
        text-decoration: underline
      }
    </style>
    <style>
      <%= File.read(Padrino.root('app/assets/stylesheets/email.css')) %>
      <% if !defined?(header_image_url) %>
        body { padding-top: 16px }
      <% end %>
    </style>
  </head>
  <body>
    <% if defined?(header_image_url) %>
      <div style="text-align: center; font-size: 0">
        <img src="<%= header_image_url %>" style="max-width: 100px; margin-top: 16px; margin-bottom: 16px">
      </div>
    <% end %>
    <div class="container">
      <%= content %>
    </div>
  </body>
</html>
