<a href="/u/<%= account.username %>">
  <%= partial :'accounts/square', locals: { account: account, style: "display: block; width: #{defined?(width) ? width : '100px'}" } %>
</a>
<strong><%= account.name %></strong>
<% if defined?(membership) && membership.admin? %>
  <i data-toggle="tooltip" title="Admin" class="fa fa-key"></i>
<% end %>
<% if defined?(show_email) && show_email %>
  <div style="font-size: 12px">
    <%= account.email %>
  </div>
<% end %>
