<% if account.event_tag_names %>

  <% event_tag_names_to_display = account.event_tag_names.sample(5) %>
  <% show_more_limit = 5 %>

  <span class="tag-container">
    <% event_tag_names_to_display.each_with_index do |event_tag_name, index| %>
      <span class="tag-item <%= 'd-none' if index >= show_more_limit %>">
        <span class="text-white label label-primary d-inline-block mb-1"><%== Sanitize.fragment(event_tag_name) %></span>
      </span>
    <% end %>

    <% if event_tag_names_to_display.count > show_more_limit %>
      <a href="javascript:;" onclick="$(this).closest('.tag-container').find('.tag-item').removeClass('d-none'); $(this).remove();">
        <i class="bi bi-three-dots"></i>
      </a>
    <% end %>
  </span>

<% end %>

<% unless defined?(skip_average_rating) %>
  <%= partial :'event_feedbacks/average_rating', locals: { event_feedbacks: account.unscoped_event_feedbacks_as_facilitator, events: Event.past.and(:id.in => account.event_facilitations.pluck(:event_id)) } %>
<% end %>