<%
# Get event IDs more efficiently (single query with just IDs)
event_ids = account.event_facilitations.pluck(:event_id)
past_event_ids = Event.past.and(:id.in => event_ids).pluck(:id)

# Use aggregation to get top 5 tag IDs in a single query
top_tag_ids = EventTagship.collection.aggregate([
  { '$match' => { 'event_id' => { '$in' => past_event_ids } } },
  { '$group' => { '_id' => '$event_tag_id', 'count' => { '$sum' => 1 } } },
  { '$sort' => { 'count' => -1 } },
  { '$limit' => 5 },
  { '$project' => { '_id' => 1 } }
]).map { |doc| doc['_id'] }

event_tags = EventTag.and(:id.in => top_tag_ids)

# Still need events for the average_rating partial
events = Event.past.and(:id.in => event_ids)

%>

<% event_tags.each { |event_tag| %>
<a href="/events?event_tag_id=<%= event_tag.id %>" class="text-white label label-primary d-inline-block mb-1"><%== Sanitize.fragment(event_tag.name) %></a>
<% } %>

<% unless defined?(skip_average_rating) %>
  <%= partial :'event_feedbacks/average_rating', locals: { event_feedbacks: account.unscoped_event_feedbacks_as_facilitator, events: events } %>
<% end %>