<style>
  .btn-outline-primary { background: white; }
</style>
<div class="col-6 col-sm-4 col-md-2 mb-2">
  <div class="mr-2">
    <%= partial :'accounts/square', locals: { account: account, width: '100%' } %>
  </div>
</div>
